.frame-1186,
.frame-1186 * {
    box-sizing: border-box;
}
.frame-1186 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 1232px;
    position: relative;
}
.program-detail {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1171px;
    position: relative;
}
.program-header {
    background: #ffffff;
    border-style: solid;
    border-color: var(--main, #2d3748);
    border-width: 0px 0px 1px 0px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1180px;
    position: relative;
}
.frame-1191 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.training-program {
    color: var(--main, #2d3748);
    text-align: left;
    font: var(--section, 500 24px "Inter", sans-serif);
    position: relative;
}
.progress-bar {
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 320px;
    position: relative;
}
.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.bar {
    background: #cccccc;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.progress-bar2 {
    background: var(--bluemain, #285d9a);
    flex: 1;
    height: 12px;
    position: relative;
}
.progress-bar1 {
    background: var(--bluemain, #cccccc);
    flex: 1;
    height: 12px;
    position: relative;
}
.padding {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.text {
    color: #000000;
    text-align: center;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    flex: 1;
}
.bar2 {
    background: #cccccc;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.ellipse-offset-to-get-to-the-middle {
    background: var(--bluemain, #285d9a);
    border-radius: 6px;
    width: 12px;
    height: 12px;
    position: absolute;
    right: -6px;
    top: 0px;
}
.ellipse {
    background: #ffffff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 2px;
    top: 2px;
}
.spacer {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.text2 {
    color: #000000;
    text-align: center;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar3 {
    background: #cccccc;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.basic-info {
    padding: 20px 10px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.syllabus-name-code {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 744px;
    position: relative;
}
.req-text-box {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.text3 {
    color: #000000;
    text-align: left;
    font: var(--header, 700 16px "Inter", sans-serif);
    position: relative;
}
.text-box {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 5px 12px 5px 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 200px;
    position: relative;
}
.npl {
    color: #000000;
    text-align: left;
    font: var(--paragraph, 400 14px "Inter", sans-serif);
    position: relative;
}
._1-0 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font: var(--paragraph, 400 14px "Inter", sans-serif);
    position: relative;
}
.frame-1189 {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1171px;
    height: 925px;
    position: relative;
}
.b-ody {
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 900px;
    height: 979px;
    position: relative;
}
.syllabus-tab {
    flex-shrink: 0;
    width: 770px;
    height: 30px;
    position: relative;
}
.tab-3 {
    background: #6d7684;
    border-radius: 20px 20px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    position: absolute;
    left: 380px;
    top: 0px;
}
.frame-51 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.tab-2 {
    color: #ffffff;
    text-align: left;
    font: 400 16px "Inter", sans-serif;
    position: relative;
}
.tab-1 {
    background: #6d7684;
    border-radius: 20px 20px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.general {
    color: #ffffff;
    text-align: left;
    font: 400 16px "Inter", sans-serif;
    position: relative;
}
.tab-22 {
    background: #2d3748;
    border-radius: 20px 20px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    position: absolute;
    left: 190px;
    top: 0px;
}
.frame-1207 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 949px;
    position: relative;
}
.frame-1192 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 880px;
    height: 802px;
    position: relative;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 860px;
    height: 948px;
    position: relative;
}
.daye-3 {
    background: #ffffff;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 860px;
    height: 766px;
    position: relative;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.16);
    overflow-x: auto;
    overflow-y: auto;
}
.frame-1193 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    flex-shrink: 0;
    height: 104px;
    overflow-y: auto; /* Add this line to enable vertical scrolling */

    /* Scrollbar styles */
    scrollbar-width: thin; /* Enable scrollbar */
    scrollbar-color: #2d3748 var(--un-modified, #8b8b8b); /* Set the scrollbar color */

    /* Other styles for .frame-1193 container */
    /* ... (your existing styles) */
}

/* Style the thumb and track of the scrollbar */
.frame-1193::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

.frame-1193::-webkit-scrollbar-thumb {
    background-color: #2d3748; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Add rounded corners to the scrollbar thumb */
}

.frame-1193::-webkit-scrollbar-track {
    background-color: var(--un-modified, #8b8b8b); /* Set the color of the scrollbar track */
}
.day-container {
    width: 100%; /* Chiều rộng 100% */
    height: auto; /* Chiều cao tự động, để phù hợp với nội dung */
}
.TrainingUnit-container {
    width: 100%; /* Chiều rộng 100% */
    height: auto; /* Chiều cao tự động, để phù hợp với nội dung */
}
.frame-48 {
    background: #2d3748;
    border-style: solid;
    border-color: var(--box, #f1f1f1);
    border-width: 0px 0px 1px 0px;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 860px;
    position: relative;
}
.frame-512 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-513 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
/*.day {*/
/*    color: #ffffff;*/
/*    text-align: left;*/
/*    font: 700 16px "Inter", sans-serif;*/
/*    position: relative;*/
/*}*/
.day {
    background-color: #2d3748; /* Button background color */
    color: #ffffff; /* Button text color */
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
}

/* Add a hover effect when hovering over the button */
.day:hover {
    background-color: #2d3748; /* Button background color on hover */
}
.remove-circle-outline {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.frame-49 {
    background: #2d3748;
    border-style: solid;
    border-color: var(--box, #f1f1f1);
    border-width: 0px 0px 1px 0px;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 860px;
    position: relative;
}
.frame-52 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.day-2 {
    color: #ffffff;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.remove-circle-outline2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.frame-50 {
    background: #2d3748;
    padding: 10px 20px 10px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 860px;
    position: relative;
}
.day-32 {
    color: #ffffff;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.remove-circle-outline3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.unit-1-day-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-514 {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-54 {
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    /*gap: 53px;*/
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
}
.unit-names-container{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 53px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 717px;
    height: auto;
    position: relative;
}
.frame-108 {
    display: inline-block;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.unit-5 {
    color: #000000;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.frame-47 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 229px;
    position: relative;
}
.frame-101 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.frame-1200 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-100 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.unit-Name {
    color: #000000;
    text-align: left;
    font: var(--header, 700 16px "Inter", sans-serif);
    position: relative;
}
._7-hrs {
    color: #323232;
    text-align: left;
    font: 400 italic 14px "Inter", sans-serif;
    position: relative;
}
.frame-65 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
}
.create {
    background-color: #2d3748;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #2d3748;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    overflow: visible;
}

/*.create:hover {*/
/*    background-color: #2d3748; !* Button background color on hover *!*/
/*}*/
.frame-53 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.arrow-drop-down-circle {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.frame-81 {
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-89 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}
.frame-43 {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 730px;
    position: relative;
}
.frame-41 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
    margin-left: 115px;
}
.net-introduction2 {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.frame-40 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 385px;
    position: relative;
}
.frame-95 {
    background: #2d3748;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.h-4-sd {
    color: #ffffff;
    text-align: left;
    font: var(--paragraph, 400 14px "Inter", sans-serif);
    position: relative;
}
._30-mins {
    color: #000000;
    text-align: left;
    font: 400 14px "Inter", sans-serif;
    position: relative;
}
.online {
    border-radius: 50px;
    border-style: solid;
    border-color: var(--orangemain, #d45b13);
    border-width: 1px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.online-add {
    border-radius: 50px;
    border-style: solid;
    border-color: var(--orangemain, #d45b13);
    border-width: 1px;
    padding: 2px 2.5px 2px 2px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    font-size: .8em;
    font-weight: lighter;
    text-align: center;
}
.online2 {
    color: var(--orangemain, #d45b13);
    text-align: left;
    font: 400 10px "Roboto", sans-serif;
    position: relative;
}
.concept-lecture {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.folder {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.folder-btn {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: url('data:image/svg+xml;utf8,%3Csvg%20class%3D%22folder%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23285D9A%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%206H12L10%204H4C2.9%204%202.01%204.9%202.01%206L2%2018C2%2019.1%202.9%2020%204%2020H20C21.1%2020%2022%2019.1%2022%2018V8C22%206.9%2021.1%206%2020%206ZM20%2018H4V6H9.17L11.17%208H20V18ZM17.5%2012.12V15.5H14.5V10.5H15.88L17.5%2012.12ZM13%209V17H19V11.5L16.5%209H13Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') center/contain no-repeat;
}

.group {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.frame-472 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.declaration-assignment {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.offline {
    background: var(--main, #2d3748);
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;

}
.offline2 {
    color: #ffffff;
    text-align: left;
    font: 400 10px "Roboto", sans-serif;
    position: relative;
}
.concept-lecture2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.group2 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.frame-502 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.frame-1197 {
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: auto;
    height: 30px;
    position: relative;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
}
.practice-time {
    color: #000000;
    text-align: left;
    font: 400 14px "Inter", sans-serif;
    position: relative;
    border: none;
    outline: none;
}
.delivery-type {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
}
.frame-111 {
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.delivery-type2 {
    color: var(--main, #2d3748);
    text-align: left;
    font: 400 italic 12px "Inter", sans-serif;
    position: relative;
    border: none;
    outline: none;
}
.arrow-back-ios {
    flex-shrink: 0;
    position: relative;
    transform: translate(0px, -24px);
    overflow: visible;
}
.frame-1198 {
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 3px 0px 3px;
    display: flex;
    flex-direction: row;
    /*gap: 10px;*/
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 30px;
    width: 60px;
    position: relative;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
}
._15 {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    outline: none;
    border: none;
    width: 55px;
}
.toggle-online {
    background: var(--orangemain, #d45b13);
    border-radius: 50px;
    padding: .5px 4px .5px 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    /*justify-content: center;*/
    flex-shrink: 0;
    position: relative;
    justify-content: end;
    text-align: end;
    width: 70px;
}

.ellipse-19 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 21.5px;
    width: 21.5px;
    background: #071b34;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: transform 0.2s;
    z-index: 1000;
}
.online3 {
    color: #ffffff;
    text-align: left;
    font: 400 10px "Roboto", sans-serif;
    position: relative;
}
.arrow-back-ios2 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0px, -24px);
    overflow: visible;
}
.group3 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.add-day-button {
    background: var(--main, #2d3748);
    border-radius: 100px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.add {
    width: 24px;
    height: 24px;
    border: none;
    margin-left: 115px;
    background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%232d3748%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_1173_19784)%22%3E%3Cpath%20d%3D%22M13%207H11V11H7V13H11V17H13V13H17V11H13V7ZM12%202C6.49%202%202%206.49%202%2012C2%2017.51%206.49%2022%2012%2022C17.51%2022%2022%2017.51%2022%2012C22%206.49%2017.51%202%2012%202ZM12%2020C7.59%2020%204%2016.41%204%2012C4%207.59%207.59%204%2012%204C16.41%204%2020%207.59%2020%2012C20%2016.41%2016.41%2020%2012%2020Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_1173_19784%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%20%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E') center/contain no-repeat;
}



.line-9 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.unit-1-day-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.unit-6 {
    color: #000000;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.operation {
    color: #000000;
    text-align: left;
    font: var(--header, 700 16px "Inter", sans-serif);
    position: relative;
}
._1-5-hrs {
    color: #323232;
    text-align: left;
    font: 400 italic 14px "Inter", sans-serif;
    position: relative;
}
.create2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.arrow-drop-down-circle2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.frame-432 {
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 729px;
    position: relative;
}
.operators {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.concept-lecture3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.group4 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.comparation {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.concept-lecture4 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.group5 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.frame-482 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.logical-operators {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.guide-review {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.group6 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.frame-492 {
    background: var(--box, #f1f1f1);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.practice-time-assignment-mentoring {
    color: #000000;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
._120-mins {
    color: #000000;
    text-align: left;
    font: 400 14px "Inter", sans-serif;
    position: relative;
}
.asignment-lab {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.group7 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.line-8 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.unit-1-day-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-542 {
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: row;
    gap: 53px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 717px;
    position: relative;
}
.unit-7 {
    color: #000000;
    text-align: left;
    font: 700 16px "Inter", sans-serif;
    position: relative;
}
.frame-1199 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.program-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.unit-name {
    color: #000000;
    text-align: left;
    font: 400 14px "Inter", sans-serif;
    position: relative;
}
.frame-84 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: 34px;
    position: relative;
}
.frame-652 {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 281px;
    height: 30px;
    position: relative;
}
.type-unit-name {
    color: #000000;
    text-align: left;
    font: 400 italic 14px "Inter", sans-serif;
    position: relative;
    border: none;
}

.frame-66 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--main, #2d3748);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
}
.create3 {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.arrow-drop-down-circle3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.line-10 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.add-unit-button {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.add-day-button2 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.add2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.add-unit {
    background-color: #2d3748;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #2d3748;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    overflow: visible;
}
.add-day-button-2 {
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    border: none;
    background: none;
}
.add-day-button3 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.add3 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}
.add-day {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.rectangle-2487 {
    background: var(--main, #2d3748);
    border-radius: 0px 0px 10px 10px;
    align-self: stretch;
    flex-shrink: 0;
    height: 16px;
    position: relative;
}
.rectangle-645 {
    background: var(--un-modified, #8b8b8b);
    border-radius: 20px;
    flex-shrink: 0;
    width: 5px;
    height: 256px;
    position: relative;
}
.frame-1190 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.time-allocation {
    border-radius: 10px 10px 0px 0px;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.time-allocation2 {
    color: #ffffff;
    text-align: left;
    font: var(--text, 700 16px "Inter", sans-serif);
    position: relative;
}
.time-allocation3 {
    background: #2d3748;
    border-radius: 20px 20px 0px 0px;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.content2 {
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.doughnut {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    position: relative;
}
._01 {
    background: #f4be37;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}
._02 {
    background: #ff9f40;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}
._03 {
    background: #5388d8;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}
._04 {
    background: #0d2535;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 179px;
    position: relative;
}
.frame-1082 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 175px;
    position: relative;
}
.bullet {
    flex-shrink: 0;
    width: 13.92px;
    height: 13.94px;
    position: relative;
    overflow: hidden;
}
.rectangle-644 {
    background: #f4be37;
    border-radius: 100px;
    width: 6.96px;
    height: 6.97px;
    position: absolute;
    left: 3.48px;
    top: 3.49px;
}
.assignment-lab {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
._54 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 60.12px;
}
.frame-109 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 175px;
    position: relative;
}
.rectangle-6442 {
    background: #ff9f40;
    border-radius: 100px;
    width: 6.96px;
    height: 6.97px;
    position: absolute;
    left: 3.48px;
    top: 3.49px;
}
.concept-lecture5 {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
._29 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 60.12px;
}
.frame-110 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 175px;
    position: relative;
}
.rectangle-6443 {
    background: #0d2535;
    border-radius: 100px;
    width: 6.96px;
    height: 6.97px;
    position: absolute;
    left: 3.48px;
    top: 3.49px;
}
.guide-review2 {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
._9 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 60.12px;
}
.frame-1112 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 175px;
    position: relative;
}
.rectangle-6444 {
    background: #5388d8;
    border-radius: 100px;
    width: 6.96px;
    height: 6.97px;
    position: absolute;
    left: 3.48px;
    top: 3.49px;
}
.test-quiz {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
._1 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 60.12px;
}
.frame-112 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 175px;
    position: relative;
}
.rectangle-6445 {
    background: #206ee5;
    border-radius: 100px;
    width: 6.96px;
    height: 6.97px;
    position: absolute;
    left: 3.48px;
    top: 3.49px;
}
.exam {
    color: #000000;
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 98px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
._6 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font: 400 12px "Inter", sans-serif;
    position: relative;
    width: 60.12px;
}
.saving-button {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 38px;
    position: relative;
}
.frame-92 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 7px 25px 7px 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.previous {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.frame-1201 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.add-day-button4 {
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.cancel {
    color: var(--alert, #e74a3b);
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    text-decoration: underline;
    position: relative;
}
.frame-91 {
    background: var(--subinfo, #474747);
    border-radius: 10px;
    padding: 7px 25px 7px 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.save {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}
.frame-912 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    padding: 7px 25px 7px 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.next {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}

.frame-65 {
    background: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 281px;
    height: 30px;
    position: relative;
}
.type-unit-name {
    color: #000000;
    text-align: left;
    font: 400 italic 14px "Inter", sans-serif;
    position: relative;
}
.styled-input {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 281px;
    height: 30px;
    position: relative;
    color: #000000;
    text-align: left;
    font: 400 italic 14px "Inter", sans-serif;
}
.frame-66 {
    background: var(--main, #2d3748);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--main, #2d3748);
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 30px;
    position: relative;
}
.create {
    color: #ffffff;
    text-align: left;
    font: 700 14px "Inter", sans-serif;
    position: relative;
}

..toggle {
    --width: 50px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
    background: #009578;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

