/* Figma Styles of your File */
:root {
    /* Colors */
    --subinfo: #474747;
    --main: #2d3748;
    --alert: #e74a3b;
    --un-modified: #8b8b8b;
    --orange: #d45b13;
    --female: #ff7568;
    --green: #2f903f;
    --primary: #edf2f7;
    --box: #dfdede;
    --background: #ecf8ff;

    /* Fonts */

    /* Effects */
}
