


    <div th:fragment="navbar">
        <div class="program-header">
            <div class="frame-1191">
                <div class="syllabus">Syllabus</div>
                <div class="progress-bar">
                    <div class="label">
                        <div class="bar">
                            <div class="progress-bar2"></div>
                        </div>
                        <div class="padding">
                            <div class="text">General</div>
                        </div>
                    </div>
                    <div class="label">
                        <div class="bar2">
                            <div class="spacer"></div>
                        </div>
                        <div class="padding">
                            <div class="text2">Outline</div>
                        </div>
                    </div>
                    <div class="label">
                        <div class="bar3">
                            <div class="progress-bar2">
                                <div class="ellipse-offset-to-get-to-the-middle">
                                    <div class="ellipse"></div>
                                </div>
                            </div>
                            <div class="spacer"></div>
                        </div>
                        <div class="padding">
                            <div class="text">Other</div>
                        </div>
                    </div>
                    <div class="label">
                        <div class="bar4">
                            <div class="spacer"></div>
                        </div>
                        <div class="padding">
                            <div class="text">Done</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-info">
            <div class="syllabus-name-code">
                <div class="req-text-box">
                    <div class="text">Syllabus Name*</div>
                    <div class="input">
                        <div class="frame-5112">
                            <div class="search-by">C# Language Program|</div>
                        </div>
                    </div>
                </div>
                <div class="req-text-box">
                    <div class="text">Code</div>
                    <div class="npl">NPL</div>
                </div>
                <div class="req-text-box">
                    <div class="text">Version</div>
                    <div class="_1-0">1.0</div>
                </div>
            </div>
        </div>
        <!-- props: {"type":{"type":"VARIANT","defaultValue":"'general'","variantOptions":["General","Outline","Material","Others"]}} -->
        <div class="syllabus-tab">
            <div class="tab-2">
                <div class="frame-51">
                    <div class="tab-22">Outline</div>
                </div>
            </div>
            <div class="tab-1">
                <div class="frame-51">
                    <div class="general">General</div>
                </div>
            </div>
            <div class="tab-3">
                <div class="frame-51">
                    <div class="tab-22">Others</div>
                </div>
            </div>
        </div>

    </div>

    <div  th:fragment="buttons">
        <div class="saving-button">
            <div class="button">
                <div class="filter">Previous</div>
            </div>
            <div class="frame-5119">
                <div class="button2">
                    <div class="filter2">Cancel</div>
                </div>
                <div class="button3">
                    <div class="filter">Save as draft</div>
                </div>
                <div class="button">
                    <div class="filter">Save</div>
                </div>
            </div>
        </div>

    </div>


<style>
    .saving-button,
    .saving-button * {
        box-sizing: border-box;
    }
    .saving-button {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }
    .button {
        background: var(--main, #2d3748);
        border-radius: 8px;
        padding: 2px 25px 2px 25px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 28px;
        position: relative;
        box-shadow: var(
                --m-3-elevation-light-1-box-shadow,
                0px 1px 3px 1px rgba(0, 0, 0, 0.15),
                0px 1px 2px 0px rgba(0, 0, 0, 0.3)
        );
    }
    .filter {
        color: #ffffff;
        text-align: left;
        font: var(--button-md, 700 14px/24px "Inter", sans-serif);
        position: relative;
    }
    .frame-5119 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }
    .button2 {
        border-radius: 8px;
        padding: 2px 0px 2px 0px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 28px;
        position: relative;
    }
    .filter2 {
        color: var(--alert, #e74a3b);
        text-align: left;
        font: 700 14px/24px "Inter", sans-serif;
        text-decoration: underline;
        position: relative;
    }
    .button3 {
        background: var(--subinfo, #474747);
        border-radius: 8px;
        padding: 2px 25px 2px 25px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 28px;
        position: relative;
        box-shadow: var(
                --m-3-elevation-light-1-box-shadow,
                0px 1px 3px 1px rgba(0, 0, 0, 0.15),
                0px 1px 2px 0px rgba(0, 0, 0, 0.3)
        );
    }


    .syllabus-tab,
    .syllabus-tab * {
        box-sizing: border-box;
    }
    .syllabus-tab {
        align-self: stretch;
        flex-shrink: 0;
        height: 30px;
        position: relative;
    }
    .tab-2 {
        background: #6d7684;
        border-radius: 20px 20px 0px 0px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        padding: 10px 20px 10px 30px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        position: absolute;
        left: 190px;
        top: 0px;
    }
    .frame-51 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }
    .tab-22 {
        color: #ffffff;
        text-align: left;
        font: 400 16px "Inter", sans-serif;
        position: relative;
    }
    .tab-1 {
        background: #6d7684;
        border-radius: 20px 20px 0px 0px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        padding: 10px 20px 10px 30px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .general {
        color: #ffffff;
        text-align: left;
        font: 400 16px "Inter", sans-serif;
        position: relative;
    }
    .tab-3 {
        background: #2d3748;
        border-radius: 20px 20px 0px 0px;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        padding: 10px 20px 10px 30px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 30px;
        position: absolute;
        left: 380px;
        top: 0px;
    }

    .basic-info,
    .basic-info * {
        box-sizing: border-box;
    }
    .basic-info {
        padding: 20px 10px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }
    .syllabus-name-code {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 744px;
        position: relative;
    }
    .req-text-box {
        background: #ffffff;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }
    .text {
        color: #000000;
        text-align: left;
        font: var(--subtitle-1-bold, 700 16px/24px "Inter", sans-serif);
        position: relative;
    }
    .input {
        background: #ffffff;
        border-radius: 6px;
        border-style: solid;
        border-color: var(--un-modified, #8b8b8b);
        border-width: 1px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 300px;
        height: 36px;
        position: relative;
    }
    .frame-5112 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }
    .search-by {
        color: #000000;
        text-align: left;
        font: var(--body-2, 400 14px/22px "Inter", sans-serif);
        position: relative;
    }
    .npl {
        color: #000000;
        text-align: left;
        font: var(--body-2, 400 14px/22px "Inter", sans-serif);
        position: relative;
    }
    ._1-0 {
        color: rgba(0, 0, 0, 0.5);
        text-align: left;
        font: var(--body-2, 400 14px/22px "Inter", sans-serif);
        position: relative;
    }

    .program-header,
    .program-header * {
        box-sizing: border-box;
    }
    .program-header {
        background: #ffffff;
        border-style: solid;
        border-color: var(--main, #2d3748);
        border-width: 0px 0px 1px 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }
    .frame-1191 {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
    }
    .syllabus {
        color: var(--main, #2d3748);
        text-align: left;
        font: var(--header-h-4, 500 24px/36px "Inter", sans-serif);
        position: relative;
    }
    .progress-bar {
        padding: 10px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        width: 320px;
        position: relative;
    }
    .label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        position: relative;
    }
    .bar {
        background: #cccccc;
        border-radius: 6px 0px 0px 6px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    .progress-bar2 {
        background: var(--orangemain, #d45b13);
        flex: 1;
        height: 12px;
        position: relative;
    }
    .padding {
        padding: 0px 10px 0px 10px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
    }
    .text {
        color: #000000;
        text-align: center;
        font: var(--caption-1, 400 12px/18px "Inter", sans-serif);
        position: relative;
        flex: 1;
    }
    .bar2 {
        background: var(--orangemain, #d45b13);
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    .spacer {
        align-self: stretch;
        flex: 1;
        position: relative;
    }
    .text2 {
        color: #000000;
        text-align: center;
        font: var(--caption-1, 400 12px/18px "Inter", sans-serif);
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bar3 {
        background: #cccccc;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    .ellipse-offset-to-get-to-the-middle {
        background: var(--orangemain, #d45b13);
        border-radius: 6px;
        width: 12px;
        height: 12px;
        position: absolute;
        right: -6px;
        top: 0px;
    }
    .ellipse {
        background: #ffffff;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        position: absolute;
        left: 2px;
        top: 2px;
    }
    .bar4 {
        background: #cccccc;
        border-radius: 0px 6px 6px 0px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
</style>
