<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Bootstrap%205/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
    <script src="/js/JQuery/jquery-3.7.1.js"></script>
    <link href="/css/select2/select2.css" rel="stylesheet" />
    <script src="/js/select2/select2.min.js"></script>
    <link href="/css/DataTable/jquery.dataTables.css" rel="stylesheet">
    <script src="/js/DataTable/jquery.dataTables.js"></script>
    <link href="/css/user.css" rel="stylesheet" >
<!--    <script src="/js/user.js"></script>-->
    <link rel="shortcut icon" type="image/png" href="img/FPT_logo.png"/>
    <title>User management</title>
<!--    &lt;!&ndash; included script &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.7.1.js"-->
<!--            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>-->
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <style>
        .search-item {
            border-radius: 8px;
            border: 1px solid #FFF;
            background: var(--Sub-info, #474747);
            color: white;
            height: 45px;
            padding: 7px;
        }
        .search-item {
            user-select: none;
        }
        .search-item>span {
            cursor: pointer;
        }
        #table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -4px 5px 9px 1px gray;
        }

        #table td {
            padding: 5px 20px;
        }

        #table tr {
            border-bottom: 0.5px solid #2D3748;
        }

        #table>thead {
            background: #2D3748;
            color: white;
            height: 40px;
        }
    </style>


</head>
<body>
<div class="d-flex flex-column" style="height: 100vh;">
    <header class="bg-main text-white px-5 py-1" >
        <div th:replace="~{common :: header}"></div>
    </header>
    <div class="d-flex flex-grow-1 flex-row">

        <div th:replace="~{common :: menu}"></div>

        <div class="flex-grow-1">
            <div class="UserManagement">User Management</div>
            <div class="row w-100">
                <div class="d-inline-block position-relative" style="width: 49%; padding-left: 28px;">
                    <i class="icon bi bi-search"></i>
                    <input id="search-input" type="text" class="form-control search d-inline-block ps-4"
                           placeholder=" Enter name or email...">
                </div>

                <div class="col text-end" style="padding-right: 28px">
                    <button class="btn btn-dark" id="open-add-user-dialog-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_487_2486)">
                                <path
                                        d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                                        fill="#DFDEDE" />
                            </g>
                            <defs>
                                <clipPath id="clip0_487_2486">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        Add user
                    </button>
                </div>
            </div>
<!--            // search-->
            <div id="search-keyword" class="search-keyword d-flex p-2 flex-wrap">
<!--                <div class="search-item">-->
<!--                    foundation-->
<!--                    <span>&#10005;</span>-->
<!--                </div>-->
            </div>

            <div class="table-container">
                <table id="user-information-table" class="table table-responsive">
                    <thead>
                    <th style="border-top-left-radius: 10px">ID</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th style="width: 12%;">Type</th>
                    <th style=" border-top-right-radius: 10px"></th>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>

            <dialog id="add-user-dialog" class="p-0">
                <table class="table m-0">
                    <thead class="table-dark">
                    <th class="text-center">
                        <div class="d-flex flex-row align-items-center">
                                    <span class="flex-grow-1">
                                        Add a new user
                                    </span>
                            <button class="btn close-add-user-dialog-button">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_46_6114)">
                                        <path
                                                d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                                                fill="white" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_46_6114">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form id="add-user-form">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <label for="select-user-type" class="form-label col-12 col-md-2 col-form-label">User
                                        type</label>
                                    <div class="col-12 col-md-10">
                                        <select name="userPermission" class="form-control form-select" id="select-user-type"
                                                aria-placeholder="Select one">
                                            <option value="TRAINER">Trainer</option>
                                            <option value="CLASS_ADMIN">Admin</option>
                                            <option value="SUPER_ADMIN">Super Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-user-name"
                                           class="form-label col-12 col-md-2 col-form-label">Name</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-user-name"
                                               name="name" placeholder="User name">
                                        <div class="invalid-feedback" id="invalid-user-name"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-user-email-address"
                                           class="form-label col-12 col-md-2 col-form-label">Email
                                        address</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-user-email-address"
                                               name="email" placeholder="Email address">
                                        <div class="invalid-feedback" id="invalid-email-address"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="input-user-phone" class="form-label col-12 col-md-2 col-form-label">Phone
                                        number</label>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control form-text" id="input-user-phone"
                                               name="phone" placeholder="Phone number">
                                        <div class="invalid-feedback" id="invalid-phone-number"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="pick-date-of-birth" class="form-label col-12 col-md-2 col-form-label">Date
                                        of
                                        birth</label>
                                    <div class="col-12 col-md-10">
                                        <input type="date" class="form-control" id="pick-date-of-birth" name="dob"
                                               placeholder="">
                                        <div class="invalid-feedback" id="invalid-date-of-birth"></div>
                                    </div>
                                </div>
                                <fieldset class="row mb-3 align-items-baseline">
                                    <legend class="col-12 col-md-2 col-form-label">Gender</legend>
                                    <div class="col-12 col-md-10">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="gender-radio-male" value="true" checked>
                                            <label for="gender-radio-male" class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="gender-radio-female" value="false">
                                            <label for="gender-radio-female" class="form-check-label">Female</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="mb-3 row align-items-end">
                                    <p class="form-label col-12 col-md-2 col-form-label">Status</p>
                                    <div class="col-12 col-md-10 form-check form-switch ps-3 m-auto">
                                        <input type="checkbox" name="status" id="toggle-user-status"
                                               class="form-check-input m-0 align-self-center" value="true"
                                               style="scale: 1.5;">
                                        <label for="toggle-user-status" id="user-status-label"
                                               class="form-check-label mx-3">Inactive</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="reset" class="btn btn-danger close-add-user-dialog-button" value="Cancel">
                                    <input type="submit" name="btAction" id="submit-add-user-dialog-button"
                                           class="btn btn-dark" value="Save">
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dialog>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
    <!--// js search-->


    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

    <!-- DatePicker and dependencies-->
    <script src="https://cdn.jsdelivr.net/npm/date-object@latest/dist/umd/date-object.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-element-popper@latest/build/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/browser.min.js"></script>

    <!-- Optional Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/date_picker_header.browser.js"></script>

    <script>

        $(document).ready(function () {
            // Tạo mảng lưu trữ các từ khóa đã tìm kiếm
            var searchedKeywords = [];

            // Khởi tạo DataTable ban đầu
            initializeDataTable(searchedKeywords);

            // Lắng nghe sự kiện khi người dùng nhấn Enter trong ô tìm kiếm
            var input = document.getElementById("search-input");
            input.addEventListener("keypress", function (event) {
                if (event.key === "Enter" && input.value.trim() !== "") {
                    let search = document.getElementById("search-keyword");
                    let item = document.createElement("div");
                    item.className = "search-item";
                    const keyword = input.value.trim().toLowerCase(); // Chuyển đổi thành chữ viết thường
                    item.innerHTML += `
                ${keyword}
                <span>&#10005;</span>
            `
                    search.appendChild(item);
                    searchedKeywords.push(keyword);
                    // Gọi hàm sendSearchRequest để gửi yêu cầu AJAX
                    sendSearchRequest(searchedKeywords);
                    input.value = "";

                    let deleteButton = item.getElementsByTagName("span")[0];
                    deleteButton.addEventListener("click", () => {
                        // Xóa từ khóa khỏi mảng searchedKeywords
                        const index = searchedKeywords.indexOf(keyword);
                        if (index !== -1) {
                            searchedKeywords.splice(index, 1);
                            if(searchedKeywords.length == 0){
                                initializeDataTable(searchedKeywords);
                            }else
                            sendSearchRequest(searchedKeywords);
                        }
                        item.remove();
                    });
                }
            });

            // Lắng nghe sự kiện khi người dùng xóa từ khóa
            document.querySelectorAll(".search-item").forEach(element => {
                let deleteButton = element.getElementsByTagName("span")[0];
                deleteButton.addEventListener("click", () => {
                    // Xóa từ khóa khỏi mảng searchedKeywords
                    const index = searchedKeywords.indexOf(element.textContent.trim());
                    if (index !== -1) {
                        searchedKeywords.splice(index, 1);
                    }
                    element.remove();
                    // Gọi hàm sendSearchRequest để gửi yêu cầu AJAX khi xóa từ khóa
                    sendSearchRequest(searchedKeywords);
                });
            });

            // Hàm khởi tạo DataTable
            function initializeDataTable(searchKeywords) {
                var url = "http://localhost:8080/api/v1/users";
                if (searchKeywords.length > 0) {
                    url = "http://localhost:8080/api/v1/users/search?keyword=" + searchKeywords.join(",");
                }

                $.ajax({
                    url: url,
                    method: "GET",
                    success: function (response) {
                        let tableData = [];
                        response.payload.forEach(element => {
                            let elementArr = [];
                            elementArr.push(element.userId);
                            elementArr.push('<strong>' + element.name + '</strong>');
                            elementArr.push(element.email);
                            elementArr.push(element.dob);
                            if (element.gender.toLowerCase() === "male") {
                                elementArr.push('<img src="img/male.png" alt="Male" class="gender-icon">');
                            } else if (element.gender.toLowerCase() === "female") {
                                elementArr.push('<img src="img/female.png" alt="Female" class="gender-icon">');
                            }
                            if (element.userPermission === "CLASS_ADMIN") {
                                elementArr.push('<p class="class-admin-row name">ADMIN</p>');
                            }else if (element.userPermission === "TRAINER") {
                                elementArr.push('<p class="trainer-row name">TRAINER</p>');
                            }else if (element.userPermission === "SUPER_ADMIN") {
                                elementArr.push('<p class="super-admin-row name">SUPER-ADMIN</p>');
                            }
                            elementArr.push('<img style="align-content: center" src="img/more_horizontal.svg">');
                            tableData.push(elementArr);
                            console.log(tableData);
                        });

                        // Khởi tạo hoặc cập nhật DataTable
                        if ($.fn.dataTable.isDataTable("#user-information-table")) {
                            $("#user-information-table").DataTable().clear().destroy();
                        }

                        $("#user-information-table").DataTable({
                            data: tableData,
                            searching: false,
                            paging: true,
                            info: false,
                        });
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }

            // Hàm gửi yêu cầu AJAX với từ khóa tìm kiếm
            function sendSearchRequest(searchKeywords) {
                var url = "http://localhost:8080/api/v1/users";
                if (searchKeywords.length > 0) {
                    url = "http://localhost:8080/api/v1/users/search?keyword=" + searchKeywords.join(",");
                }

                $.ajax({
                    url: url,
                    method: "GET",
                    success: function (response) {
                        let tableData = [];
                        response.payload.forEach(element => {
                            let elementArr = [];
                            elementArr.push(element.userId);
                            elementArr.push('<strong>' + element.name + '</strong>');
                            elementArr.push(element.email);
                            elementArr.push(element.dob);
                            if (element.gender.toLowerCase() === "male") {
                                elementArr.push('<img src="img/male.png" alt="Male" class="gender-icon">');
                            } else if (element.gender.toLowerCase() === "female") {
                                elementArr.push('<img src="img/female.png" alt="Female" class="gender-icon">');
                            }
                            if (element.userPermission === "CLASS_ADMIN") {
                                elementArr.push('<p class="class-admin-row name">ADMIN</p>');
                            }else if (element.userPermission === "TRAINER") {
                                elementArr.push('<p class="trainer-row name">TRAINER</p>');
                            }else if (element.userPermission === "SUPER_ADMIN") {
                                elementArr.push('<p class="super-admin-row name">SUPER-ADMIN</p>');
                            }
                            elementArr.push('<img style="align-content: center" src="img/more_horizontal.svg">');
                            tableData.push(elementArr);
                            console.log(tableData);
                        });

                        // Khởi tạo hoặc cập nhật DataTable
                        if ($.fn.dataTable.isDataTable("#user-information-table")) {
                            $("#user-information-table").DataTable().clear().destroy();
                        }

                        $("#user-information-table").DataTable({
                            data: tableData,
                            searching: false,
                            paging: true,
                            info: false,
                        });
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
        });



        function getUserTableData(){
            $.ajax({
                url: "https://localhost:8080/api/v1/users",
                method: "GET",
                success: function (response) {
                    let tableData = [];
                    response.forEach(element => {
                        let elementArr = [];
                        elementArr.push(element.name);
                        elementArr.push(element.email);
                        elementArr.push(element.dob);
                        elementArr.push(element.gender);
                        elementArr.push(element.userPermission);
                        tableData.push(elementArr);
                    });
                    $("#user-information-table").DataTable().clear().rows.add(tableData).draw()
                },
                error: function(error){
                    alert(error)
                }
            });
        };
        $("#filter-form").submit(function (event) {
            event.preventDefault();
            console.log($(this).serializeArray());
            var arr1 = $(this).serializeArray();
            var keyValues = {};
            $.each(arr1, function (index, item) {
                // Use the "name" as the key and "value" as the value
                var key = item.name;
                var value = item.value;
                // Check if the key already exists, if so, create an array to store values
                if (keyValues.hasOwnProperty(key)) {
                    keyValues[key].push(value);
                } else {
                    if (key.endsWith("List")) {
                        keyValues[key] = [];
                        keyValues[key].push(value);
                    } else {
                        if (value !== "") {
                            keyValues[key] = value;
                        }
                    }
                }
            });
            console.log(JSON.stringify(keyValues));
        });
        $("#reset-filter-option-dialog-button").click(function (event) {
            $("#filter-class-location").val(null).trigger("change");
        });
        $("#cancel-filter-option-dialog-button").click(function (event) {
            $("#filter-class-location").val(null).trigger("change");
            $("#filter-option-dialog")[0].close();
        });
        $("#open-add-user-dialog-button").click(() => {
            $("#add-user-dialog")[0].showModal();
        });
        $("#toggle-user-status").click(function () {
            $(this).prop("disabled", true);
            if ($("#user-status-label")[0].textContent === "Active") {
                $("#user-status-label")[0].textContent = "Inactive";
            } else {
                $("#user-status-label")[0].textContent = "Active";
            }
            setTimeout(() => {
                $(this).prop("disabled", false);
            }, 150);
        });
        $("#add-user-form").submit(function (event) {
            event.preventDefault();
            $(".is-invalid").removeClass("is-invalid")
            $(".invalid-feedback").text("");
            let arr1 = $(this).serializeArray();
            let keyValues = {}
            let isValid = true;
            $.each(arr1, function (index, item) {
                let key = item.name;
                let value = item.value;
                if (key === "name" && value.trim().length === 0) {
                    $("#invalid-user-name").text("Invalid username");
                    $("#input-user-name").addClass("is-invalid");
                    isValid=false;
                }
                if (key === "email" && !value.trim().match(/^[a-z0-9]+@\w+\.\w+$/)) {
                    $("#invalid-email-address").text("Invalid email address");
                    $("#input-user-email-address").addClass("is-invalid");
                    isValid=false;
                }
                if (key === "phone" && !value.trim().match(/[0-9]{10}/)) {
                    $("#invalid-phone-number").text("Invalid phone number");
                    $("#input-user-phone").addClass("is-invalid");
                    isValid=false;
                }
                if (key === "dob" && value.trim().length === 0) {
                    $("#invalid-date-of-birth").text("Invalid date of birth");
                    $("#pick-date-of-birth").addClass("is-invalid");
                    isValid=false
                }
                if (value==="true") {
                    value = true
                }
                if (value==="false"){
                    value = false
                }
                keyValues[key] = value;
            });
            if (isValid){
                console.log(JSON.stringify(keyValues));
                $.ajax({
                    url:"https://localhost:8080/api/v1/users",
                    method:"POST",
                    contentType:"application/json; charset=utf-8",
                    data: JSON.stringify(keyValues),
                    success: function(){
                        alert("Success");
                        $("#add-user-dialog")[0].close();
                        getUserTableData();
                    },
                    error:function(error){
                        console.log(error);
                    }
                });
            }
        });
        $("#input-user-name").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-user-email-address").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#input-user-phone").click(function () {
            $(this).removeClass("is-invalid");
        });
        $("#pick-date-of-birth").click(function () {
            $(this).removeClass("is-invalid");
        });
        $(".close-add-user-dialog-button").click(function (event) {
            event.preventDefault();
            $(".is-invalid").removeClass("is-invalid")
            $(".invalid-feedback").text("");
            $("#add-user-form")[0].reset();
            $("#add-user-dialog")[0].close();
        });

    </script>
    <script src="/js/common.js"></script>
</div>
</body>

</html>