<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Bootstrap%205/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
    <script src="/js/JQuery/jquery-3.7.1.js"></script>
    <link href="/css/select2/select2.css" rel="stylesheet" />
    <script src="/js/select2/select2.min.js"></script>
    <link href="/css/DataTable/jquery.dataTables.css" rel="stylesheet">
    <script src="/js/DataTable/jquery.dataTables.js"></script>

<!--    <script src="/js/user.js"></script>-->
    <link rel="shortcut icon" type="image/png" href="img/FPT_logo.png"/>
    <title>User management</title>
<!--    &lt;!&ndash; included script &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.7.1.js"-->
<!--            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>-->
    <!-- --- -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <style>
        /*.dataTables_length:after {*/
        /*    content: "Row per page";*/
        /*    display: inline;*/
        /*}*/
        #user-information-table_length {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .search-item {
            border-radius: 8px;
            border: 1px solid #FFF;
            background: var(--Sub-info, #474747);
            color: white;
            height: 45px;
            padding: 7px;
        }
        .search-item {
            user-select: none;
        }
        .search-item>span {
            cursor: pointer;
        }
        #table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -4px 5px 9px 1px gray;
        }

        #table td {
            padding: 5px 20px;
        }

        #table tr {
            border-bottom: 0.5px solid #2D3748;
        }

        #table>thead {
            background: #2D3748;
            color: white;
            height: 40px;
        }
        #edit-user-dialog {
            position: fixed;
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: none;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Màu đen mờ với độ trong suốt 0.5 */
            backdrop-filter: blur(2px);
            z-index: 999; /* Đảm bảo rằng overlay nằm phía trên tất cả */
            display: none;
        }
        /*#role {*/
        /*    position: absolute;*/
        /*    top: 0;*/
        /*    left: 100px; !* Điều chỉnh vị trí hiển thị dialog tương ứng với phần tử "Change role" *!*/
        /*    display: none;*/
        /*}*/


    </style>
    <link href="/css/user.css" rel="stylesheet" >

</head>
<body>
<div class="d-flex flex-column" style="height: 100vh;" sec:authorize="isAuthenticated()" >
    <header class="bg-main text-white px-5 py-1" >
        <div th:replace="~{common :: header}"></div>
    </header>
    <div class="d-flex flex-grow-1 flex-row">

        <div th:replace="~{common :: menu}"></div>

        <div class="flex-grow-1">
            <div class="UserManagement">User Management</div>

<!--            <div id="tbpopup-1" style="display:none; width: 60%;margin-left: auto;margin-right: auto;">-->
<!--                    <p class="alert alert-success text-center" style="background-color: white; border: 2px solid #2D3748;-->
<!--                    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);">Add user successfully</p>-->
<!--            </div>-->
            <div id="tbpopup-1" style="display:none;">
                <p class="alert alert-success text-center">Update user successfully</p>


<!--            <p th:each="authority : ${#authentication.getAuthorities()}"-->
<!--               th:if="${authority.authority == 'SUPER_ADMIN'}">-->
<!--                This content is visible only for SUPER_ADMIN.-->
<!--            </p>-->

            </div>
            <div id="tbpopup-2" style="display:none;">
                <p class="alert alert-success text-center">Update user successfully</p>
            </div>



            <div class="row w-100">
                <div class="d-inline-block position-relative" style="width: 49%; padding-left: 28px;">
                    <i class="icon bi bi-search"></i>
                    <input id="search-input" type="text" class="form-control search d-inline-block ps-4"
                           placeholder=" Enter name or email...">
                </div>

                <th:block th:each="authority : ${#authentication.getAuthorities()}"
                          th:if="${authority.authority == 'CREATE_USER MANAGEMENT'}">

                    <div class="col text-end" style="padding-right: 28px">
                        <button class="btn btn-dark" id="open-add-user-dialog-button">
                            <img src="/img/addUser.svg" style="padding-bottom: 3px">
                            Add user
                        </button>
                    </div>
                </th:block>


            </div>
<!--            // search-->
            <div id="search-keyword" class="search-keyword d-flex p-2 flex-wrap">
<!--                <div class="search-item">-->
<!--                    foundation-->
<!--                    <span>&#10005;</span>-->
<!--                </div>-->
            </div>

            <div class="table-container">
                <table id="user-information-table" class="table table-responsive">
                    <thead>
                    <th style="border-top-left-radius: 10px">ID</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th style="width: 100px;">Type</th>
                    <th:block th:each="authority : ${#authentication.getAuthorities()}"
                              th:if="${authority.authority == 'MODIFYS_USER MANAGEMENT'}">
                    <th style=" border-top-right-radius: 10px"></th>
                    </th:block>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>
            <dialog id="add-user-dialog" class="p-0">
                <table class="table m-0" style="border-radius: 20px;">
                    <thead class="table-dark">
                    <th class="text-center" style="background: #2D3748;">
                        <div class="d-flex flex-row align-items-center">
                                    <span class="flex-grow-1 add_user">
                                        Add a new user
                                    </span>
                            <button class="btn close-add-user-dialog-button">
                                <img src="/img/cancel.svg">
                            </button>
                        </div>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                                <form id="add-user-form">
                                    <div class="mb-3 mt-3 row align-items-center">
                                        <label for="select-user-type" class="form-label col-12 col-md-3 col-form-label"
                                               style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">User type</label>
                                        <div class="col-12 col-md-9">
                                            <select name="userPermission" class="form-control form-select" id="select-user-type"
                                                    aria-placeholder="Select one">
                                                <option value="TRAINER">Trainer</option>
                                                <option value="CLASS_ADMIN">Admin</option>
                                                <option value="SUPER_ADMIN" style="display: none">Super Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label for="input-user-name"
                                               class="form-label col-12 col-md-3 col-form-label"
                                               style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Name</label>
                                        <div class="col-12 col-md-9">
                                            <input type="text" class="form-control form-text" id="input-user-name"
                                                   name="name" placeholder="User name">
                                            <div class="invalid-feedback" id="invalid-user-name"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label for="input-user-email-address"
                                               class="form-label col-12 col-md-3 col-form-label"
                                               style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Email address</label>
                                        <div class="col-12 col-md-9">
                                            <input type="text" class="form-control form-text" id="input-user-email-address"
                                                   name="email" placeholder="Email address">
                                            <div class="invalid-feedback" id="invalid-email-address"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label for="input-user-phone" class="form-label col-12 col-md-3 col-form-label"
                                               style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Phone</label>
                                        <div class="col-12 col-md-9">
                                            <input type="text" class="form-control form-text" id="input-user-phone"
                                                   name="phone" placeholder="Phone number">
                                            <div class="invalid-feedback" id="invalid-phone-number"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label for="pick-date-of-birth" class="form-label col-12 col-md-3 col-form-label"
                                               style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Date
                                            of
                                            birth</label>
                                        <div class="col-12 col-md-9">
                                            <input type="date" class="form-control" id="pick-date-of-birth" name="dob"
                                                   placeholder="">
                                            <div class="invalid-feedback" id="invalid-date-of-birth"></div>
                                        </div>
                                    </div>
                                    <fieldset class="row mb-3 align-items-baseline">
                                        <legend class="col-12 col-md-3 col-form-label" style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Gender</legend>
                                        <div class="col-12 col-md-9">
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="gender-radio-male" value="MALE" checked>
                                                <label for="gender-radio-male" class="form-check-label" style="position: relative;top: 1px;"> Male</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                       id="gender-radio-female" value="FEMALE">
                                                <label for="gender-radio-female" class="form-check-label" style="position: relative;top: 1px;"> Female</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="mb-3 row align-items-end">
                                        <p class="form-label col-12 col-md-3 col-form-label" style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Status</p>
                                        <div class="col-12 col-md-9 form-check form-switch ps-3 m-auto">
                                            <input type="checkbox" name="status" id="toggle-user-status"
                                                   class="form-check-input m-0 align-self-center" value="true"
                                                   style="scale: 1.5; width: 32px;height: 12px">
                                            <label for="toggle-user-status" id="user-status-label"
                                                   class="form-check-label mx-3"> Inactive</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <input type="reset" class="close-add-user-dialog-button" style="border: none; background: white" value="Cancel">
                                        <input type="submit" name="btAction" id="submit-add-user-dialog-button" value="Save">
                                    </div>
                                </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dialog>

            <dialog id="edit-user-dialog" class="p-0">
                <table class="table m-0" style="border-radius: 20px;">
                    <thead class="table-dark">
                    <th class="text-center" style="background: #2D3748;">
                        <div class="d-flex flex-row align-items-center">
                                    <span class="flex-grow-1 add_user">
                                        Update User
                                    </span>
                            <button class="btn close-add-user-dialog-button">
                                <img src="/img/cancel.svg">
                            </button>
                        </div>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form id="edit-user-form">
                                <div class="mb-3 mt-3 row align-items-center">
                                    <label for="update-userPermission" class="form-label col-12 col-md-4 col-form-label"
                                           style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">User
                                        type</label>
                                    <div class="col-12 col-md-8">
                                        <select name="userPermission" class="form-control form-select" id="update-userPermission"
                                                aria-placeholder="Select one">
                                            <option value="TRAINER">Trainer</option>
                                            <option value="CLASS_ADMIN">Admin</option>
                                            <option value="SUPER_ADMIN" style="display: none">Super Admin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="name"
                                           class="form-label col-12 col-md-4 col-form-label"
                                           style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Name</label>
                                    <div class="col-12 col-md-8">
                                        <input type="text" class="form-control form-text" id="name"
                                               name="name" placeholder="User name">
                                        <div class="invalid-feedback" id="invalid-name"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="email"
                                           class="form-label col-12 col-md-4 col-form-label"
                                           style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Email
                                        address</label>
                                    <div class="col-12 col-md-8">
                                        <input type="text" class="form-control form-text" id="email"
                                               name="email" placeholder="Email address" readonly style="border: none;">
                                        <div class="invalid-feedback" id="invalid-email"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="phone" class="form-label col-12 col-md-4 col-form-label"
                                           style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Phone</label>
                                    <div class="col-12 col-md-8">
                                        <input type="text" class="form-control form-text" id="phone"
                                               name="phone" placeholder="Phone number">
                                        <div class="invalid-feedback" id="invalid-phone"></div>
                                    </div>
                                </div>
                                <div class="mb-3 row align-items-center">
                                    <label for="dob" class="form-label col-12 col-md-4 col-form-label"
                                           style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Date
                                        of
                                        birth</label>
                                    <div class="col-12 col-md-8">
                                        <input type="date" class="form-control" id="dob" name="dob"
                                               placeholder="">
                                        <div class="invalid-feedback" id="in-dob"></div>
                                    </div>
                                </div>
                                <fieldset class="row mb-3 align-items-baseline">
                                    <legend class="col-12 col-md-4 col-form-label"
                                            style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Gender</legend>
                                    <div class="col-12 col-md-8">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="gender-male" value="MALE" checked>
                                            <label for="gender-male" class="form-check-label" style="position: relative;top: 1px;"> Male</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                   id="gender-female" value="FEMALE">
                                            <label for="gender-female" class="form-check-label" style="position: relative;top: 1px;"> Female</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="mb-3 row align-items-end">
                                    <p class="form-label col-12 col-md-4 col-form-label"
                                       style="padding-left: 25px;font-weight: 600;font-family: Inter;font-size: 14px;">Status</p>
                                    <div class="col-12 col-md-8 form-check form-switch ps-3 m-auto">
                                        <input type="checkbox" name="status" id="status"
                                               class="form-check-input m-0 align-self-center" value="true"
                                               style="scale: 1.5;">
                                        <label for="status" id="status-label"
                                               class="form-check-label mx-3">Inactive</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="reset" class="close-add-user-dialog-button" style="border: none; background: white" value="Cancel">
                                    <input type="submit" name="btAction" id="submit-edit-user-dialog-button" value="Save">
                                </div>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dialog>
            <div class="overlay"></div>
        </div>
    </div>
    <div th:replace="~{common :: footer}"></div>
    <!--// js search-->


    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

    <!-- DatePicker and dependencies-->
    <script src="https://cdn.jsdelivr.net/npm/date-object@latest/dist/umd/date-object.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-element-popper@latest/build/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/browser.min.js"></script>

    <!-- Optional Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/date_picker_header.browser.js"></script>

    <script src="/js/user/user.js">

//-----------------------------------------------------------------------------------------------

    </script>
    <script src="/js/common.js"></script>
</div>
</body>

</html>