<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/Bootstrap%205/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/JQuery/jquery-3.7.1.js"></script>
  <link href="/css/select2/select2.css" rel="stylesheet" />
  <script src="/js/select2/select2.min.js"></script>
  <link href="/css/DataTable/jquery.dataTables.css" rel="stylesheet">
  <script src="/js/DataTable/jquery.dataTables.js"></script>
  <link href="/css/user.css" rel="stylesheet" >
  <!--    <script src="/js/user.js"></script>-->
  <link rel="shortcut icon" type="image/png" href="img/FPT_logo.png"/>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link href="/css/syllabus/CreateSyllabusOtherScreen.css" rel="stylesheet"/>
  <!--  <link href="/css/syllabus/createSyllabusOutline.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <title>Document</title>
</head>
<body>

<header class="bg-main text-white px-5 py-1" >
  <div th:replace="~{common :: header}"></div>
</header>

<div class="d-flex flex-grow-1 flex-row">

  <!--    ERROR-->
  <div class="toast error" style="position: fixed; z-index:1001
        ;display: flex; align-items: center; gap: 15px;
        right: 0; margin: 10px 40px 0 0; opacity: 0">
    <div class="container-1">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="container-2">
      <div class="container-2Text">
        <p>Error</p>
        <p></p>
      </div>
      <div class="loading1"></div>
    </div>
  </div>
  <!--    ERROR-->

  <!--    SUCCESS-->
  <div class="toast success" style="position: fixed;z-index:1001
        ;display: flex; align-items: center; gap: 15px;
        right: 0; margin: 10px 40px 0 0; opacity: 0">
    <div class="container-1">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="container-2">
      <div class="container-2Text">
        <p>Success</p>
        <p>Import successfully.</p>
      </div>
      <div class="loadingSucces"></div>
    </div>
  </div>
  <!--    SUCCESS-->

  <!--    WARNING-->
  <div class="toast warning" style="position: fixed;z-index:1001
        ;display: flex; align-items: center; gap: 15px;
        right: 0; margin: 10px 40px 0 0; opacity: 0">
    <div class="container-1">
      <i class="fas fa-exclamation-circle"></i>
    </div>
    <div class="container-2">
      <div class="container-2Text">
        <p>Warning</p>
        <p>Please fill all fields.</p>
      </div>
      <div class="loadingWarning"></div>
    </div>
  </div>
  <!--WARNING-->

  <div th:replace="~{common :: menu}"></div>




  <script>

    function getCookie(name) {
      var cookieArray = document.cookie.split("; ");
      for (var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i].split("=");
        if (cookie[0] === name) {
          return cookie[1];
        }
      }
      return null;
    }
    function setCookie(name, value, hours) {
      var date = new Date();
      date.setTime(date.getTime() + (hours * 60 * 60 * 1000)); // Thời gian sống tính bằng mili giây

      var expires = "expires=" + date.toUTCString();
      document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    $(document).ready(function () {
      loadData();
    });

    function showSuccess(){
      var successToast = document.querySelector('.toast.success');
      var loadingBar1 = successToast.querySelector('.loadingSucces');
      successToast.style.opacity = '1';
      loadingBar1.classList.add('active');

      setTimeout(function () {
        loadingBar1.classList.remove('active');
        successToast.style.opacity = "0";
      }, 2500);
    }
    function showWarning(){
      var warningToast = document.querySelector('.toast.warning');
      var loadingBar1 = warningToast.querySelector('.loadingWarning');
      warningToast.style.opacity = '1';
      loadingBar1.classList.add('active');

      setTimeout(function () {
        loadingBar1.classList.remove('active');
        warningToast.style.opacity = "0";
      }, 2500);
    }

    function showError(message) {
      var errorToast = document.querySelector('.toast.error');
      var loadingBar1 = errorToast.querySelector('.loading1');
      var errorText = errorToast.querySelector('.container-2Text p:last-child');

      errorText.textContent = message;

      errorToast.style.opacity = '1';
      loadingBar1.classList.add('active');

      setTimeout(function() {
        loadingBar1.classList.remove('active');
        errorToast.style.opacity = '0';
      }, 2500);
    }

    function loadData() {
      var accessToken = getCookie("accessToken");

      var topicCode = localStorage.getItem('topicCode');
      $.ajax({
        url: 'http://localhost:8080/api/v1/syllabus/showOtherScreenById/'+topicCode
        ,type: 'GET',
        headers: {
          "Authorization": "Bearer " + accessToken // Sử dụng Bearer token nếu cần
        },
        xhrFields: {
          withCredentials: true
        },
        success: function (rs) {
          console.log(rs);
          console.log(rs.trainingPrincipal)
          loadSyllabus(rs);
          $('#topicCode').html(rs.topicCode);
          $('#version').html(rs.version);
          // $('#default').html(rs.trainingPrincipal);
        },      error: function (error) {
          // alert(error);
          // Xử lý lỗi khi gửi yêu cầu
          if (error.status === 401) {
            // Trường hợp lỗi 401: Unauthorized
            // Gửi yêu cầu refreshToken để lấy accessToken mới
            var refreshToken = getCookie("refreshToken");
            $.ajax({
              url: "http://localhost:8080/api/v1/auth/refreshToken",
              method: "POST",
              data: JSON.stringify({ refreshToken: refreshToken }), // Đặt refreshToken vào phần thân của yêu cầu
              contentType: "application/json", // Xác định kiểu dữ liệu của yêu cầu
              xhrFields: {
                withCredentials: true
              },
              success: function (response) {
                //Xóa cookie cũ (accessToken)
                deleteCookie("accessToken");
                // Lưu accessToken mới vào cookie
                var accessTokenV2 = response.payload.accessToken;

                setCookie("accessToken",accessTokenV2 , 1); // Ví dụ: thời gian sống 1 giờ

                // // Xóa cookie cũ (refreshToken)
                // deleteCookie("refreshToken");

                // Gửi lại yêu cầu gốc với accessToken mới
                sendSearchRequest(searchKeywords);
              },
              error: function (refreshError) {
                if (refreshError.status === 403) {
                  // Trường hợp lỗi 403: Forbidden
                  // Chuyển hướng trình duyệt đến trang khác (ví dụ: http://localhost:8081/logout
                  // )
                  window.location.href = "http://localhost:8081/logout" +
                          "";
                } else {
                  alert("Refresh token failed: " + refreshError);
                  // Xử lý lỗi khác khi refreshToken không thành công
                  window.location.href = "http://localhost:8081/logout" +
                          "";

                }
              }
            });
          } else {
            alert("Error: " + error.status);
            // Xử lý lỗi khác (không phải lỗi 401)
            // window.location.href = "http://localhost:8081/logout
            // ";
          }

          //
        }

      });
    };

    function loadSyllabus(rs){
      document.getElementById('syllabusNameInput').value = rs.topicName;
      document.getElementById('quiz').value = rs.quiz;
      document.getElementById('assignment').value = rs.assignment;
      document.getElementById('final_test').value = rs.finalTest;
      document.getElementById('final_theory').value = rs.finalTheory;
      document.getElementById('final_practice').value = rs.finalPractice;
      document.getElementById('gpa').value = rs.gpa;
      document.getElementById('textarea1').value = rs.trainingPrincipal;
    };

  </script>


  <div class="frame-1193">
    <div id="toastBox"></div>
    <div class="program-header">
      <div class="frame-1191">
        <div class="syllabus">Syllabus</div>
        <!-- props: {"phase":{"type":"VARIANT","defaultValue":"'general'","variantOptions":["General","Outline","Done","Other"]}} -->
        <div class="progress-bar">
          <div class="label">
            <div class="bar">
              <div class="progress-bar2"></div>
            </div>
            <div class="padding">
              <div class="text">General</div>
            </div>
          </div>
          <div class="label">
            <div class="bar2">
              <div class="progress-bar2"></div>
            </div>
            <div class="padding">
              <div class="text">Outline</div>
            </div>
          </div>
          <div class="label">
            <div class="bar3">
              <div class="progress-bar2">
                <div class="ellipse-offset-to-get-to-the-middle">
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="spacer"></div>
            </div>
            <div class="padding">
              <div class="text">Other</div>
            </div>
          </div>
          <div class="label">
            <div class="bar4">
              <div class="progress-bar3">
                <div class="spacer"></div>
              </div>
            </div>
            <div class="padding">
              <div class="text">Done</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="basic-info">
      <div class="syllabus-name-code">
        <div class="req-text-box">
          <div class="text3">Syllabus Name*:</div>
          <input type="text" id="syllabusNameInput" name="" class="text-box" value="" disabled  style="font-size: 100%">
          <!--          <div class="text3" id="syllabusNameInput" style="display: flex"></div>-->
        </div>
        <div class="req-text-box">
          <div class="text3">Code:</div>
          <div class="text3" id="topicCode"></div>
        </div>
        <div class="req-text-box">
          <div class="text3">Version:</div>
          <div class="text3" id="version"></div>
        </div>
      </div>
    </div>    <div class="frame-1196">
    <div class="frame-1192">
      <div class="content">
        <div class="syllabus-tab">
          <a th:href="@{/viewSyllabusOther}" style="text-decoration: none">
            <div class="tab-2">
              <div class="frame-51">
                <div class="tab-22">Outline</div>
              </div>
            </div>
          </a>
          <a th:href="@{/viewSyllabusOther}" style="text-decoration: none">
            <div class="tab-1">
              <div class="frame-51">
                <div class="general">General</div>
              </div>
            </div>
          </a>
          <a th:href="@{/viewSyllabusOther}" style="text-decoration: none">
            <div class="tab-3">
              <div class="frame-51">
                <div class="tab-22">Others</div>
              </div>
            </div>
          </a>
        </div>
        <div class="others">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-6">
                <div class="frame-113">
                  <div class="time-allocation">
                    <div class="time-allocation2">
                      <div class="time-allocation3">Time allocation</div>
                    </div>
                    <div class="content2">
                      <canvas class="doughnut" id="doughnut">

                      </canvas>
                      <div class="info">
                        <div class="frame-108">
                          <div class="bullet">
                            <div class="rectangle-644"></div>
                          </div>
                          <div class="assignment-lab">Assignment</div>
                          <div class="_54" id="assignment_pie"></div>
                        </div>
                        <div class="frame-109">
                          <div class="bullet">
                            <div class="rectangle-6442"></div>
                          </div>
                          <div class="concept-lecture">Quiz</div>
                          <div class="_29" id="quiz_pie"></div>
                        </div>
                        <div class="frame-110">
                          <div class="bullet">
                            <div class="rectangle-6443"></div>
                          </div>
                          <div class="guide-review">Final</div>
                          <div class="_9" id="final_test_pie"></div>
                        </div>
                        <div class="frame-111">
                          <div class="bullet">
                            <div class="rectangle-6444"></div>
                          </div>
                          <div class="test-quiz">Final Theory</div>
                          <div class="_1" id="final_theory_pie"></div>
                        </div>
                        <div class="frame-112">
                          <div class="bullet">
                            <div class="rectangle-6445"></div>
                          </div>
                          <div class="exam">Final Practice</div>
                          <div class="_6" id="final_practice_pie"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6">
                <div class="frame-113">
                  <div class="assessment-scheme">
                    <div class="percentage">
                      <div class="assessment-scheme2">Assessment scheme</div>
                    </div>
                    <div class="input-percent">
                      <div class="input-percent-1">
                        <div class="block" >
                          <label>Assignment*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="assignment" id = "assignment">
                        </div>
                        <div class="block">
                          <label>Quiz*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="quiz" id = "quiz">
                        </div>
                      </div>
                      <div class="input-percent-2">
                        <div class="block">
                          <label>Final*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="final" id="final_test">
                        </div>

                        <div class="block">
                          <label>Final Theory*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="final_theory" id="final_theory">
                        </div>

                        <div class="block">
                          <label>Final Practice*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="final_practice" id = "final_practice">
                        </div>
                      </div>
                      <div class="input-percent-3">
                        <div class="block">
                          <label>GPA*</label> <input type="number" style="font-size: .8rem" step="1" min="0" max="100" name="gpa" id="gpa">
                        </div>
                      </div>

                    </div>

                    <!--            <div class="frame">-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Quiz *</div>-->
                    <!--                <div class="text-box">-->
                    <!--&lt;!&ndash;                  <div class="default-text">15%</div>&ndash;&gt;-->
                    <!--                  <input class="input-box" type="number" name="quiz">-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Assignment *</div>-->
                    <!--                <div class="text-box">-->
                    <!--                  <div class="default-text"></div>-->
                    <!--                  <input class="input-box" type="number" name="assigment">-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Final *</div>-->
                    <!--                <div class="text-box">-->
                    <!--&lt;!&ndash;                  <div class="_70">70%</div>&ndash;&gt;-->
                    <!--                  <input class="input-box" type="number" name="final">-->

                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="line-11"></div>-->
                    <!--            </div>-->
                    <!--            <div class="frame2">-->
                    <!--              <div class="req-text-box2">-->
                    <!--                <div class="text">Final Theory*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_40">40%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box2">-->
                    <!--                <div class="text">Final Practice*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_60">60%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--            <div class="frame-1206">-->
                    <!--              <div class="line-11"></div>-->
                    <!--              <div class="passing-criteria">Passing criteria</div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">GPA*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_70">70%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <!--        <div class="frame-1204">-->
              <div class="row">
                <div class="others2" >
                  <div class="training-delivery-principle">
                    <div class="frame-100">
                      <div class="frame-90">
                        <div class="training-delivery-principle2">
                          Training delivery principle
                        </div>
                      </div>
                    </div>
                    <div class="frame-99">

                      <div class="row-tool">
                        <div class="col">
                          <div class="first box">
                            <input id="font-size" type="number" value="16" min="1" max="100" onchange="f1(this)">
                          </div>
                          <div class="second box">
                            <button type="button" onclick="f2(this)">
                              <i class="fa-solid fa-bold"></i>
                            </button>
                            <button type="button" onclick="f3(this)">
                              <i class="fa-solid fa-italic"></i>
                            </button>
                            <button type="button" onclick="f4(this)">
                              <i class="fa-solid fa-underline"></i>
                            </button>
                          </div>
                          <div class="third box">
                            <button type="button" onclick="f5(this)">
                              <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button type="button" onclick="f6(this)">
                              <i class="fa-solid fa-align-center"></i>
                            </button>
                            <button type="button" onclick="f7(this)">
                              <i class="fa-solid fa-align-right"></i>
                            </button>
                          </div>
                          <div class="fourth box">
                            <button type="button" onclick="f8(this)">aA</button>
                            <button type="button" onclick="f9()">
                              <i class="fa-solid fa-text-slash"></i>
                            </button>
                            <input type="color" onchange="f10(this)">
                          </div>
                        </div>
                      </div>

                      <div class="frame-1205">
                        <div class="row-text-left">
                          <div class="span3">
                            <div class="left-headers">
                              <div class="frame-1204">
                                <div class="training">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18567)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18567">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="training2">Training</div>
                                  </div>
                                  <div
                                          class="trainee-who-actively-complete-online-learning-according-to-mooc-links-provided-at-the-end-of-the-day-students-complete-daily-quiz-for-30-minutes-trainer-mentor-supports-answering-questions-guiding-exercises-1-5-2-0-h-day-trainer-conduct-the-workshops-trainees-complete-assignments-and-labs-trainees-have-1-final-test-in-4-hours-1-hour-theory-3-hours-of-practice"
                                  >
                                    <!--                    Trainee who actively complete online learning according to-->
                                    <!--                    MOOC links provided<br />At the end of the day, students-->
                                    <!--                    complete Daily Quiz for 30 minutes<br />Trainer/Mentor-->
                                    <!--                    supports answering questions, guiding exercises-->
                                    <!--                    1.5-2.0h/day<br />Trainer conduct the workshops<br />Trainees-->
                                    <!--                    complete Assignments and Labs<br />Trainees have 1 final test-->
                                    <!--                    in 4 hours (1 hour theory + 3 hours of practice)-->

                                  </div>
                                </div>
                                <div class="re-test">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user2"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18572)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18572">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="re-test2">Re-test</div>
                                  </div>
                                  <div
                                          class="only-allow-each-student-to-retake-the-test-up-to-2-times-re-exam-the-same-structure-as-the-final-test"
                                  >
                                    <!--                    Only allow each student to retake the test up to 2 times<br />Re-exam-->
                                    <!--                    the same structure as the Final Tests-->
                                  </div>
                                </div>
                                <div class="marking">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user3"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18577)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18577">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="marking2">Marking</div>
                                  </div>
                                  <div
                                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score"
                                  >
                                    <!--                  <span-->
                                    <!--                  ><span-->
                                    <!--                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score-span"-->
                                    <!--                  >Mentor review students on 2 Assignments<br />Mentor marks-->
                                    <!--                      the 3 Quizzes and Final Exam Theory<br />Trainer marks the-->
                                    <!--                      Final Exam Practice<br />If the trainees have to retake-->
                                    <!--                      test, the score will be calculated:<br /></span-->
                                    <!--                  ><span-->
                                    <!--                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score-span2"-->
                                    <!--                  >The score &gt;=6, the score will be 6<br />The scroe-->
                                    <!--                      &lt;6, the score will be that score</span-->
                                    <!--                  ></span-->
                                    <!--                  >-->
                                  </div>
                                </div>
                                <div class="waiver">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user4"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18582)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18582">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="waiver-criteria">Waiver Criteria</div>
                                  </div>
                                  <div class="students-pass-the-quick-test-trainer-audit-rank-b">
                                    <!--                    Students pass the quick test-->
                                    <!--                    <br />Trainer Audit: rank B-->
                                  </div>
                                </div>
                                <div class="frame-107">
                                  <div class="frame-902">
                                    <svg
                                            class="verified-user5"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18587)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18587">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="others2">Others</div>
                                  </div>
                                  <div
                                          class="trainers-can-allow-students-to-complete-homework-and-submit-the-next-day"
                                  >
                                    <!--                    Trainers can allow students to complete homework and submit-->
                                    <!--                    the next day-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row-text-right">
                          <div class="span9">
                            <div class="right-headers">
                              <!--                                <h3>Advanced Text Editor</h3>-->
                              <!--                                <form action="" method="post">-->
                              <!--                                  <textarea name="textarea" id="default"  ></textarea>-->
                              <!--                                  <input type="submit" value="submit">-->
                              <!--                                </form>-->
                              <textarea id="textarea1" placeholder="Your text here " required name="training_principle" cols="40" rows="10"></textarea>
                            </div>
                          </div>
                        </div>
                        <!--                  <div class="rectangle-2487"></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="saving-button">
              <div class="button">
                <div class="filter"><button style="color: white" id="">Previous</button></div>
              </div>
              <div class="frame-5119">
                <div class="button2">
                  <div class="filter2">Cancel</div>
                </div>
                <div class="button3">
                  <div class="filter">Save as draft</div>
                </div>
                <div class="button">
                  <div class="filter" id="SaveSyllabus" ><button style="color: white;">Save</button></div>
                </div>
              </div>
            </div>
            <script>

              function getCookie(name) {
                var cookieArray = document.cookie.split("; ");
                for (var i = 0; i < cookieArray.length; i++) {
                  var cookie = cookieArray[i].split("=");
                  if (cookie[0] === name) {
                    return cookie[1];
                  }
                }
                return null;
              }
              function setCookie(name, value, hours) {
                var date = new Date();
                date.setTime(date.getTime() + (hours * 60 * 60 * 1000)); // Thời gian sống tính bằng mili giây

                var expires = "expires=" + date.toUTCString();
                document.cookie = name + "=" + value + ";" + expires + ";path=/";
              }

              var ctx = document.getElementById('doughnut').getContext('2d');

              let doughnut = new Chart(ctx, {
                type: 'pie',
                data: {
                  labels: ['Empty'],
                  datasets: [{
                    data: [100],
                    backgroundColor: ['black']
                  }]
                },
                options: {
                  // Add any desired options here
                  maintainAspectRatio: true
                }
              });

              const assignmentInput = document.getElementById('assignment');
              const assignmentOutput = document.getElementById('assignment_pie');

              const quizInput = document.getElementById('quiz');
              const quizOutput = document.getElementById('quiz_pie');

              const finalInput = document.getElementById('final_test');
              const finalOutput = document.getElementById('final_test_pie');

              const finalTheoryInput = document.getElementById('final_theory');
              const finalTheoryOutput = document.getElementById('final_theory_pie');

              const finalPracticeInput = document.getElementById('final_practice');
              const finalPracticeOutput = document.getElementById('final_practice_pie');

              assignmentInput.addEventListener('input', function () {
                const inputValue = assignmentInput.value;

                assignmentOutput.innerHTML = "(" + inputValue + "%" + ")" ;
              });

              quizInput.addEventListener('input', function () {
                const inputValue = quizInput.value;

                quizOutput.innerHTML = "(" + inputValue + "%" + ")" ;
              })

              finalInput.addEventListener('input', function () {
                const inputValue = finalInput.value;

                finalOutput.innerHTML = "(" + inputValue + "%" + ")" ;
              })

              finalTheoryInput.addEventListener('input', function () {
                const inputValue = finalTheoryInput.value;

                finalTheoryOutput.innerHTML = "(" + inputValue + "%" + ")" ;
              })

              finalPracticeInput.addEventListener('input', function () {
                const inputValue = finalPracticeInput.value;

                finalPracticeOutput.innerHTML = "(" + inputValue + "%" + ")" ;
              })


              const inputs = [
                assignmentInput,
                quizInput,
                finalInput,
                finalTheoryInput,
                finalPracticeInput
              ];

              // Add event listeners to the input tags
              inputs.forEach(input => {
                input.addEventListener('input', updateChart);
              });

              function updateChart() {
                // Get the current values of the input tags
                const values = inputs.map(input => parseInt(input.value));

                // If a chart already exists, destroy it to create a new one
                if (doughnut) {
                  doughnut.destroy();
                }

                // Create a new chart with the updated data
                doughnut = new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: ['Assignment', 'Quiz', 'Final', 'Final Theory', 'Final Practice'],
                    datasets: [{
                      data: values,
                      backgroundColor: ['#f4be37', '#ff9f40', '#0d2535', '#5388d8', '#206ee5']
                    }]
                  },
                  options: {
                    // Add any desired options here
                    maintainAspectRatio: true,
                    plugins:{
                      legend: {
                        display: false
                      }
                    }
                  }
                });
              }

              // Call the updateChart function to display the initial solid color chart
              updateChart();




              $(document).ready(function () {

                const topicCode = localStorage.getItem('topicCode');
                if(topicCode!= null){
                    loadChart();
                }else{

                }

                $('#SaveSyllabus').click(function () {
                  saveToDB();

                })


              })

              function saveToDB() {
                const topicCode = $('#topicCode').text();
                console.log(topicCode);
                const syllabusData = {
                  topicName : $('#syllabusNameInput').val(),
                  topicCode : $('#topicCode').text(),
                  trainingPrincipal : $('#textarea1').val(),
                  quiz : $('#quiz').val(),
                  assignment : $('#assignment').val(),
                  finalTest : $('#final_test').val(),
                  finalTheory : $('#final_theory').val(),
                  finalPractice : $('#final_practice').val(),
                  gpa : $('#gpa').val()
                };
                if(syllabusData.quiz > 100 ||
                        syllabusData.assignment > 100 ||
                        syllabusData.finalTest > 100 ||
                        syllabusData.finalTheory > 100 ||
                        syllabusData.finalPractice > 100 ||
                  syllabusData.quiz < 0 ||
                  syllabusData.assignment < 0 ||
                  syllabusData.finalTest < 0 ||
                  syllabusData.finalTheory < 0 ||
                  syllabusData.finalPractice < 0 ||
                syllabusData.trainingPrincipal == null)
                  showError("All fields must be greater than 0 and smaller than 100!! And can not be empty!");
                else {
                  var accessToken = getCookie("accessToken");
                  $.ajax({
                    url: 'http://localhost:8080/api/v1/syllabus/createSyllabusOtherScreen/' + topicCode,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(syllabusData),
                    headers: {
                      "Authorization": "Bearer " + accessToken // Sử dụng Bearer token nếu cần
                    },
                    xhrFields: {
                      withCredentials: true
                    },
                    success: function(data) {
                      // Handle the response data if needed
                      console.log('New syllabus created:', data);
                      showSuccess("Your syllabus has been saved!");
                      setTimeout(()=>{
                        window.location.href = "/viewSyllabus";
                      }, 2800);
                    },
                    error: function (error) {
                      showError("There were errors in the process. Please try again!");
                      // alert(error);
                      // Xử lý lỗi khi gửi yêu cầu
                      if (error.status === 401) {
                        // Trường hợp lỗi 401: Unauthorized
                        // Gửi yêu cầu refreshToken để lấy accessToken mới
                        var refreshToken = getCookie("refreshToken");
                        $.ajax({
                          url: "http://localhost:8080/api/v1/auth/refreshToken",
                          method: "POST",
                          data: JSON.stringify({ refreshToken: refreshToken }), // Đặt refreshToken vào phần thân của yêu cầu
                          contentType: "application/json", // Xác định kiểu dữ liệu của yêu cầu
                          xhrFields: {
                            withCredentials: true
                          },
                          success: function (response) {
                            //Xóa cookie cũ (accessToken)
                            deleteCookie("accessToken");
                            // Lưu accessToken mới vào cookie
                            var accessTokenV2 = response.payload.accessToken;

                            setCookie("accessToken",accessTokenV2 , 1); // Ví dụ: thời gian sống 1 giờ

                            // // Xóa cookie cũ (refreshToken)
                            // deleteCookie("refreshToken");

                            // Gửi lại yêu cầu gốc với accessToken mới
                            sendSearchRequest(searchKeywords);
                          },
                          error: function (refreshError) {
                            if (refreshError.status === 403) {
                              // Trường hợp lỗi 403: Forbidden
                              // Chuyển hướng trình duyệt đến trang khác (ví dụ: http://localhost:8081/logout
                              // )
                              window.location.href = "http://localhost:8081/logout" +
                                      "";
                            } else {
                              alert("Refresh token failed: " + refreshError);
                              // Xử lý lỗi khác khi refreshToken không thành công
                              window.location.href = "http://localhost:8081/logout" +
                                      "";

                            }
                          }
                        });
                      } else {
                        alert("Error: " + error.status);
                        // Xử lý lỗi khác (không phải lỗi 401)
                        // window.location.href = "http://localhost:8081/logout
                        // ";
                      }

                      //
                    }

                  });
                }


              }

              function loadChart() {
                var accessToken = getCookie("accessToken");
                var topicCode = localStorage.getItem('topicCode');
                var assignment1 = 0;
                var quiz1 = 0;
                var finalTest = 0;
                var finalTheory= 0;
                var finalPractice= 0;
                if(topicCode != null){
                  $.ajax({
                    url: 'http://localhost:8080/api/v1/syllabus/getGeneralScreen/' + topicCode
                    ,type: 'GET',
                    headers: {
                      "Authorization": "Bearer " + accessToken // Sử dụng Bearer token nếu cần
                    },
                    xhrFields: {
                      withCredentials: true
                    },
                    success: function (rs) {
                      console.log(rs);
                      $('#topicCode').html(rs.topicCode);
                      $('#version').html(rs.version);
                      console.log(rs.level);
                      console.log(rs.assignment);
                        assignment1 = rs.assignment;
                        quiz1 = rs.quiz;
                        finalTest = rs.finalTest;
                        finalTheory = rs.finalTheory;
                        finalPractice = rs.finalPractice;
                        document.getElementById('assignment_pie').innerHTML = "(" + assignment1 + "%" + ")";
                        document.getElementById('quiz_pie').innerHTML = "(" + quiz1 + "%" + ")";
                        document.getElementById('final_test_pie').innerHTML = "(" + finalTest + "%" + ")";
                        document.getElementById('final_theory_pie').innerHTML = "(" + finalTheory + "%" + ")";
                        document.getElementById('final_practice_pie').innerHTML = "(" + finalPractice + "%" + ")";


                      // Get the canvas element
                      var ctx = document.getElementById('doughnut').getContext('2d');

                      var doughnut = new Chart(ctx, {
                        type: 'pie',
                        data: {
                          labels: ['Assignment', 'Quiz', 'Final', 'Final Theory', 'Final Practice'],
                          datasets: [{
                            data: [assignment1, quiz1, finalTest, finalTheory, finalPractice], // Replace with your own data values
                            backgroundColor: ['#f4be37', '#ff9f40', '#0d2535', '#5388d8', '#206ee5'] // Replace with desired colors
                          }]
                        },options: {
                          plugins: {
                            legend: {
                              display: false,
                            }
                          },
                          maintainAspectRatio: true,
                        },
                        animation: {
                          animateRotate: true, // Animate rotation of the pie chart
                          animateScale: true // Animate scaling of the pie chart
                        }
                      });

                    },error: function (error) {
                      // alert(error);
                      // Xử lý lỗi khi gửi yêu cầu
                      if (error.status === 401) {
                        // Trường hợp lỗi 401: Unauthorized
                        // Gửi yêu cầu refreshToken để lấy accessToken mới
                        var refreshToken = getCookie("refreshToken");
                        $.ajax({
                          url: "http://localhost:8080/api/v1/auth/refreshToken",
                          method: "POST",
                          data: JSON.stringify({ refreshToken: refreshToken }), // Đặt refreshToken vào phần thân của yêu cầu
                          contentType: "application/json", // Xác định kiểu dữ liệu của yêu cầu
                          xhrFields: {
                            withCredentials: true
                          },
                          success: function (response) {
                            //Xóa cookie cũ (accessToken)
                            deleteCookie("accessToken");
                            // Lưu accessToken mới vào cookie
                            var accessTokenV2 = response.payload.accessToken;

                            setCookie("accessToken",accessTokenV2 , 1); // Ví dụ: thời gian sống 1 giờ

                            // // Xóa cookie cũ (refreshToken)
                            // deleteCookie("refreshToken");

                            // Gửi lại yêu cầu gốc với accessToken mới
                            sendSearchRequest(searchKeywords);
                          },
                          error: function (refreshError) {
                            if (refreshError.status === 403) {
                              // Trường hợp lỗi 403: Forbidden
                              // Chuyển hướng trình duyệt đến trang khác (ví dụ: http://localhost:8081/logout
                              // )
                              window.location.href = "http://localhost:8081/logout" +
                                      "";
                            } else {
                              alert("Refresh token failed: " + refreshError);
                              // Xử lý lỗi khác khi refreshToken không thành công
                              window.location.href = "http://localhost:8081/logout" +
                                      "";

                            }
                          }
                        });
                      } else {
                        alert("Error: " + error.status);
                        // Xử lý lỗi khác (không phải lỗi 401)
                        // window.location.href = "http://localhost:8081/logout
                        // ";
                      }

                      //
                    }


                  });
                }else{
                  document.getElementById('assignment_pie').innerHTML = "(" + "0" +"%" + ")";
                  document.getElementById('quiz_pie').innerHTML = "(" + "0" +"%" + ")";
                  document.getElementById('final_test_pie').innerHTML = "(" + "0" +"%" + ")";
                  document.getElementById('final_theory_pie').innerHTML = "(" + "0" +"%" + ")";
                  document.getElementById('final_practice_pie').innerHTML = "(" + "0" +"%" + ")";

                  var ctx = document.getElementById('doughnut').getContext('2d');

                  const doughnut = new Chart(ctx, {
                    type: 'pie',
                    data: {
                      labels: ['Empty'],
                      datasets: [{
                        data: [100],
                        backgroundColor: ['black']
                      }]
                    },
                    options: {
                      // Add any desired options here
                    }
                  });
                }

              }

            </script>
          </div>








          <div th:replace="~{common :: footer}"></div>

          <script src="/js/common.js"></SCRIPT>
          <script src="/js/createScreenOtherScreen.js"></script>
          <script src="/js/tinymce/js/tinymce/tinymce.min.js"></script>
          <script src="/js/tinymce/script.js"></script>


    </body>

</html>