<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/Bootstrap%205/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
  <script src="/js/JQuery/jquery-3.7.1.js"></script>
  <link href="/css/select2/select2.css" rel="stylesheet" />
  <script src="/js/select2/select2.min.js"></script>
  <link href="/css/DataTable/jquery.dataTables.css" rel="stylesheet">
  <script src="/js/DataTable/jquery.dataTables.js"></script>
  <link href="/css/syllabus/listSyllabus.css" rel="stylesheet" >
  <link rel="shortcut icon" type="image/png" href="img/FPT_logo.png"/>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <title>Syllabus</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link href="/css/syllabus/importSyllabus.css" rel="stylesheet">
  <style>
    .search-item {
      border-radius: 8px;
      border: 1px solid #FFF;
      background: var(--Sub-info, #474747);
      color: white;
      height: 45px;
      padding: 7px;
    }
    .search-item {
      user-select: none;
    }
    .search-item>span {
      cursor: pointer;
    }
    #table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 10px 10px 0px 0px;
      box-shadow: -4px 5px 9px 1px gray;
    }

    #table td {
      padding: 5px 20px;
    }

    #table tr {
      border-bottom: 0.5px solid #2D3748;
    }

    #table>thead {
      background: #2D3748;
      color: white;
      height: 40px;
    }
  </style>


</head>
<body>
<div class="d-flex flex-column" style="height: 100vh;">
  <header class="bg-main text-white px-5 py-1" >
    <div th:replace="~{common :: header}"></div>
  </header>
  <div class="d-flex flex-grow-1 flex-row">

    <div th:replace="~{common :: menu}"></div>

    <div class="flex-grow-1">
      <div class="ListSyllabus">Syllabus</div>
      <div class="nav-syllabus">
        <div class="row w-100">
          <div class="d-inline-block position-relative" style="width: 49%; padding-left: 28px;">
            <!--          <i class="icon bi bi-search"></i>-->
            <div class="container-input" style="display: flex;">
              <div class="input-container">
                <ion-icon name="search-outline" class="search-icon"></ion-icon>
                <input id="search-input" type="text" class="form-control search d-inline-block ps-4" style="width: 300px; margin-right: 10px"
                       placeholder="  Search by ...">
              </div>
              <div class="input-container">
                <input id="search-input-calendar" type="date" class="form-control search d-inline-block ps-4" style="width: 300px"
                       placeholder="  Created date ...">
              </div>
            </div>
          </div>
          <div class="col text-end" style="padding-right: 28px">
            <button class="btn btn-dark">
              <a style="text-decoration: none; color: #eeeaea" th:href="@{/createSyllabusGeneral}">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_487_2486)">
                  <path
                          d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z"
                          fill="#DFDEDE" />
                </g>
                <defs>
                  <clipPath id="clip0_487_2486">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
                Add Syllabus
              </a>
            </button>
          </div>
        </div>
        <!--      button import-->
        <div class="button" id="open-import-syllabus-dialog-button">
          <svg
                  class="upload"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2391_623)">
              <path
                      d="M9 16H15V10H19L12 3L5 10H9V16ZM12 5.83L14.17 8H13V14H11V8H9.83L12 5.83ZM5 18H19V20H5V18Z"
                      fill="#DFDEDE"
              />
            </g>
            <defs>
              <clipPath id="clip0_2391_623">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <div class="filter">Import</div>
        </div>
      </div>
      <!--// search key-->
      <div id="search-keyword" class="search-keyword d-flex p-2 flex-wrap">
        <div class="search-item p-2" style="display: none">
          foundation
          <span class="deleteButton">&#10005;</span>
        </div>
      </div>

      <div class="table-container">
        <table id="user-information-table" class="table table-responsive">
          <thead>
          <th style="border-top-left-radius: 10px">Syllabus <svg
                  class="sort"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_707_7387)">
              <path
                      d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                      fill="#F1F1F1"
              />
            </g>
            <defs>
              <clipPath id="clip0_707_7387">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
          </th>
          <th>Code <svg
                  class="sort"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_707_7387)">
              <path
                      d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                      fill="#F1F1F1"
              />
            </g>
            <defs>
              <clipPath id="clip0_707_7387">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
          </th>
          <th>Created date <svg
                  class="sort"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_707_7387)">
              <path
                      d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                      fill="#F1F1F1"
              />
            </g>
            <defs>
              <clipPath id="clip0_707_7387">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
          </th>
          <th>Created by <svg
                  class="sort"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_707_7387)">
              <path
                      d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                      fill="#F1F1F1"
              />
            </g>
            <defs>
              <clipPath id="clip0_707_7387">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
          </th>
          <th>Duration <svg
                  class="sort"
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_707_7387)">
              <path
                      d="M5.70833 13.5H7.54167C7.79375 13.5 8 13.1625 8 12.75C8 12.3375 7.79375 12 7.54167 12H5.70833C5.45625 12 5.25 12.3375 5.25 12.75C5.25 13.1625 5.45625 13.5 5.70833 13.5ZM5.25 5.25C5.25 5.6625 5.45625 6 5.70833 6H13.0417C13.2937 6 13.5 5.6625 13.5 5.25C13.5 4.8375 13.2937 4.5 13.0417 4.5H5.70833C5.45625 4.5 5.25 4.8375 5.25 5.25ZM5.70833 9.75H10.2917C10.5438 9.75 10.75 9.4125 10.75 9C10.75 8.5875 10.5438 8.25 10.2917 8.25H5.70833C5.45625 8.25 5.25 8.5875 5.25 9C5.25 9.4125 5.45625 9.75 5.70833 9.75Z"
                      fill="#F1F1F1"
              />
            </g>
            <defs>
              <clipPath id="clip0_707_7387">
                <rect width="18" height="18" fill="white" />
              </clipPath>
            </defs>
          </svg>
          </th>
          <th style="width: 12%;">Output Standard</th>
          <th style=" border-top-right-radius: 10px">Status</th>
          </thead>
          <tbody id="data-table">
          </tbody>
        </table>
      </div>

<!--      === PAGING BAR ===-->
      <div class="navigation-dot">
        <div class="navi-dot">
          <svg
                  class="arrow-back-ios"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2189_1594)">
              <path
                      d="M16 7.16212L14.9323 6L9 12.5L14.9383 19L16 17.8379L11.1234 12.5L16 7.16212Z"
                      fill="#2D3748"
              />
            </g>
            <defs>
              <clipPath id="clip0_2189_1594">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
            <div class="group-6" id="group-6">
              <div class="ellipse-2-1"></div>
              <div class="_1">1</div>
            </div>
            <div class="group-5" id="group-5">
              <div class="ellipse-2"></div>
              <div class="_2">2</div>
            </div>
            <div class="group-7" id="group-7">
              <div class="ellipse-2-2"></div>
              <div class="_3">3</div>
            </div>


          <div style="position: absolute; top: 0px">
            <div style="border-radius: 50px; width: 3px; height: 3px; left: 11px; top: 11px; position: absolute; background: #2D3748"></div>
            <div style="border-radius: 50px; width: 3px; height: 3px; left: 18px; top: 11px; position: absolute; background: #2D3748"></div>
            <div style="border-radius: 50px; width: 3px; height: 3px; left: 4px; top: 11px; position: absolute; background: #2D3748"></div>
          </div>

          <div class="group-8" id="group-8">
            <div class="ellipse-2-22"></div>
            <div class="_10">10</div>
          </div>

          <svg
                  class="arrow-forward-ios"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2189_1613)">
              <path
                      d="M9 16.8149L10.0617 17.8766L16 11.9383L10.0617 6L9 7.0617L13.8766 11.9383L9 16.8149Z"
                      fill="#2D3748"
              />
            </g>
            <defs>
              <clipPath id="clip0_2189_1613">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <svg
                  class="last-page"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2189_1616)">
              <path
                      d="M5.59 7.41L10.18 12L5.59 16.59L7 18L13 12L7 6L5.59 7.41ZM16 6H18V18H16V6Z"
                      fill="#2D3748"
              />
            </g>
            <defs>
              <clipPath id="clip0_2189_1616">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <div style="display: flex; justify-content: center; position: absolute; right: 0; align-items: center">
            <label style="margin-right: 50px">Rows per page</label>
            <select id="rowPerPage" name="colors" class="combo-box" style="border: none; outline: none">
              <option value="5" style="font-size: .8em">5</option>
              <option value="10" style="font-size: .8em">10</option>
              <option value="15" style="font-size: .8em">15</option>
              <option value="20" style="font-size: .8em">20</option>
            </select>
          </div>
        </div>
      </div>

      <dialog id="import-syllabus-dialog" class="p-0" style="border-radius: 20px; border: none;">
        <div class="popup-container">
          <div class="popup-header">
            <div class="pop-up-header-text">Import Syllabus</div>
            <button style="position: absolute; right: 0;" class="btn close-import-syllabus-dialog-button">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_46_6114)">
                  <path
                          d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
                          fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_46_6114">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <form id="import-syllabus-form">
            <div class="form-container">
              <div class="form-header">Import setting</div>
              <div style="width: 333px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                <div class="form-item">
                  <div style="height: 17px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div><span style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">File (csv)</span><span style="color: #FD5656; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">*</span></div>
                  </div>
                  <div style="width: 82px; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; background: #2D3748; border-radius: 5px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                    <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Select</div>
                  </div>
                </div>
                <div class="form-item">
                  <div style="height: 17px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Encoding type</div>
                  </div>
                  <div style="width: 140px; height: 24px; padding-left: 10px; padding-right: 10px; background: white; border-radius: 5px; border: 1px #ACACAC solid; justify-content: space-between; align-items: center; display: flex">
                    <div style="color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Auto detect</div>
                    <div style="width: 10px; height: 9px; position: relative">
                      <img style="width: 7.66px; height: 4.83px; left: 1.17px; top: 2.03px; position: absolute" src="https://via.placeholder.com/8x5" />
                    </div>
                  </div>
                </div>
                <div class="form-item">
                  <div style="height: 22px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Column seperator</div>
                  </div>
                  <div style="width: 140px; height: 24px; padding-left: 10px; padding-right: 10px; background: white; border-radius: 5px; border: 1px #ACACAC solid; justify-content: space-between; align-items: center; display: flex">
                    <div style="color: black; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Comma</div>
                    <div style="width: 10px; height: 9px; padding-top: 2.03px; padding-bottom: 2.14px; padding-left: 1.17px; padding-right: 1.17px; justify-content: center; align-items: center; display: flex">
                      <img style="width: 7.66px; height: 4.83px" src="https://via.placeholder.com/8x5" />
                    </div>
                  </div>
                </div>
                <div class="form-item">
                  <div style="height: 22px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Import template</div>
                  </div>
                  <div style="justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div style="color: #285D9A; font-size: 14px; font-family: Inter; font-weight: 400; text-decoration: underline; line-height: 22px; word-wrap: break-word">Download</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 460px; height: 0px; border: 1px #ACACAC solid"></div>
            <div style="width: 500px; padding-left: 20px; padding-right: 20px; justify-content: space-between; align-items: flex-start; display: inline-flex">
              <div style="color: black; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 22px; word-wrap: break-word">Duplicate control</div>
              <div style="width: 333px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                <div style="align-self: stretch; height: 49px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                  <div style="width: 165px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Scanning</div>
                  </div>
                  <div style="padding-left: 10px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                      <div style="background: white; border-radius: 2px; justify-content: center; align-items: center; gap: 10px; display: flex">
                        <div style="width: 24px; height: 24px; border-radius: 2px; border: 1px rgba(24, 144, 255, 0) solid"></div>
                        <div style="width: 16px; height: 16px; background: #2D3748; border-radius: 2px"></div>
                        <div style="width: 10.62px; height: 7.62px; background: white"></div>
                      </div>
                      <div style="color: rgba(0, 0, 0, 0.85); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; word-wrap: break-word">Syllabus code</div>
                    </div>
                    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                      <div style="background: white; border-radius: 2px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                        <div style="width: 16px; height: 16px; background: white; border-radius: 2px; border: 1px #D9D9D9 solid"></div>
                      </div>
                      <div style="color: rgba(0, 0, 0, 0.85); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; word-wrap: break-word">Syllabus name</div>
                    </div>
                  </div>
                </div>
                <div style="align-self: stretch; height: 59px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
                  <div style="width: 165px; padding-left: 10px; padding-right: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="color: #1E1F20; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Duplicate handle</div>
                  </div>
                  <div style="align-self: stretch; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                      <div style="width: 16px; height: 16px; position: relative">
                        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; background: #E6F7FF; border-radius: 9999px"></div>
                        <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 100px; border: 1px #2D3748 solid"></div>
                        <div style="width: 8px; height: 8px; left: 4px; top: 4px; position: absolute; background: #2D3748; border-radius: 20px"></div>
                      </div>
                      <div style="color: rgba(0, 0, 0, 0.85); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; word-wrap: break-word">Allow</div>
                    </div>
                    <div style="background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                      <div style="width: 16px; height: 16px; background: white; border-radius: 100px; border: 1px #D9D9D9 solid"></div>
                      <div style="color: rgba(0, 0, 0, 0.85); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; word-wrap: break-word">Replace</div>
                    </div>
                    <div style="background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                      <div style="width: 16px; height: 16px; background: white; border-radius: 100px; border: 1px #D9D9D9 solid"></div>
                      <div style="color: rgba(0, 0, 0, 0.85); font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 22px; word-wrap: break-word">Skip</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 460px; height: 0px; border: 1px #ACACAC solid"></div>
            <div style="width:100%; right: 0; align-self: stretch; padding-left: 20px; padding-right: 20px; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="padding-left: 10px; padding-right: 10px; padding-top: 7px; padding-bottom: 7px; border-radius: 10px; justify-content: center; align-items: center; gap: 5px; display: flex">
                <div style="color: #E74A3B; font-size: 14px; font-family: Inter; font-weight: 700; text-decoration: underline; word-wrap: break-word">Cancel</div>
              </div>
              <div style="padding-left: 25px; padding-right: 25px; padding-top: 7px; padding-bottom: 7px; background: #2D3748; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Import</div>
              </div>
            </div>
          </form>
          </div>
      </dialog>
    </div>
  </div>
  <div th:replace="~{common :: footer}"></div>
  <!--// js search-->
  <div class="dialog-backdrop" id="dialog-backdrop"></div>

  <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

  <!-- DatePicker and dependencies-->
  <script src="https://cdn.jsdelivr.net/npm/date-object@latest/dist/umd/date-object.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-element-popper@latest/build/browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/browser.min.js"></script>

  <!-- Optional Plugin -->
  <script src="https://cdn.jsdelivr.net/npm/react-multi-date-picker@latest/build/date_picker_header.browser.js"></script>

<!--  LISTING SYLLABUS-->
  <script>
    var mode = 1;
    var myVar = 1;
    var selectedValue = 5;
    $(document).ready(function () {
      // MODE 1
      if(mode === 1) {
        var combo = document.getElementById("rowPerPage");
        combo.addEventListener("change", function () {
          selectedValue = combo.value; // Lấy giá trị đã chọn
          if (selectedValue !== "" && !combo.disabled) {
            console.log("Giá trị đã chọn mode 1: " + selectedValue);
            if(mode === 1){performAjaxRequest();}
          } else {
            console.log("Chưa chọn tùy chọn");
          }
        });
            var page1 = document.getElementById("group-6");
            var page2 = document.getElementById("group-5");
            var page3 = document.getElementById("group-7");
            var page10 = document.getElementById("group-8");
            performAjaxRequest();
            page1.addEventListener("click", function () {
              myVar = 1;
              if(mode == 1) {
                performAjaxRequest();
              }
            });
            page2.addEventListener("click", function () {
              myVar = 2;
              if(mode == 1) {
                performAjaxRequest();
              }
            });
            page3.addEventListener("click", function () {
              myVar = 3;
              if(mode == 1) {
                performAjaxRequest();
              }
            });
            page10.addEventListener("click", function () {
              myVar = 10;
              if(mode === 1) {
                performAjaxRequest();
              }
              dataTable.empty();
            });



        function performAjaxRequest() {
          $.ajax({
            url: 'http://localhost:8080/api/v1/syllabus/list-syllabus/' + selectedValue + '?page=' + myVar,
            type: 'GET',
            success: function (data) {
              console.log("DATA 1: " +data);
              // Xử lý dữ liệu và cập nhật bảng
              var dataTable = $('#data-table');
              dataTable.empty(); // Xóa nội dung hiện có trong bảng

              // Lặp qua dữ liệu và thêm từng dòng vào bảng
              $.each(data, function (index, item) {
                var durationText = item.duration + " days";
                var row = '<tr>' +
                        '<td>' + item.topicName + '</td>' +
                        '<td>' + item.topicCode + '</td>' +
                        '<td>' + item.createdDate + '</td>' +
                        '<td>' + item.createdBy + '</td>' +
                        '<td>' + durationText + '</td>' +
                        '<td>' + item.outputStandardArr + '</td>' +
                        '<td id="' + item.syllabusStatus + '">' + item.syllabusStatus + '</td>' +
                        // Thêm các ô khác ở đây
                        '</tr>';
                dataTable.append(row);
              });
            }
          });
        };

      }

      // MODE 2
      // Tạo mảng lưu trữ các từ khóa đã tìm kiếm
      var searchedKeywords = [];
      // Lắng nghe sự kiện khi người dùng nhấn Enter trong ô tìm kiếm
      var input = document.getElementById("search-input");
      input.addEventListener("keypress", function (event) {
        if (event.key === "Enter" && input.value.trim() !== "") {
          mode = 2;
          console.log(mode+" là mode hiện tại");
          if(mode === 2) {
          let search = document.getElementById("search-keyword");
          let item = document.createElement("div");
          item.className = "search-item";
          const keyword = input.value.trim();
          item.innerHTML += `
                ${keyword}
                <span>&#10005;</span>
            `
          search.appendChild(item);
          searchedKeywords.push(keyword);
          // Gọi hàm sendSearchRequest để gửi yêu cầu AJAX
            var combo1 = document.getElementById("rowPerPage");
            combo1.addEventListener("change", function () {
              selectedValue = combo1.value; // Lấy giá trị đã chọn
              if (selectedValue !== "" && !combo1.disabled) {
                console.log("Giá trị đã chọn mode 2: " + selectedValue);
                console.log("Giá trị searchKey mode 2: " + searchedKeywords);
                sendSearchRequest(searchedKeywords);
              } else {
                console.log("Chưa chọn tùy chọn");
              }
            });
              var page1 = document.getElementById("group-6");
              var page2 = document.getElementById("group-5");
              var page3 = document.getElementById("group-7");
              var page10 = document.getElementById("group-8");
              sendSearchRequest(searchedKeywords);
              page1.addEventListener("click", function () {
                myVar = 1;
                sendSearchRequest(searchedKeywords);
              });
              page2.addEventListener("click", function () {
                myVar = 2;
                sendSearchRequest(searchedKeywords);
              });
              page3.addEventListener("click", function () {
                myVar = 3;
                sendSearchRequest(searchedKeywords);
              });
              page10.addEventListener("click", function () {
                myVar = 10;
                sendSearchRequest(searchedKeywords);
                dataTable.empty();
              });

            // XÓA TỪ KHÓA
            let deleteButton = item.getElementsByTagName("span")[0];
            deleteButton.addEventListener("click", () => {
              // Xóa từ khóa khỏi mảng searchedKeywords
              const index = searchedKeywords.indexOf(keyword);
              if (index !== -1) {
                searchedKeywords.splice(index, 1);
                if (searchedKeywords.length == 0) {
                } else
                  sendSearchRequest(searchedKeywords);
              }
              item.remove();
            });
          }

            sendSearchRequest(searchedKeywords);
          // input.value = searchedKeywords;

            console.log("mode "+mode);
            // Hàm gửi yêu cầu AJAX với từ khóa tìm kiếm
            function sendSearchRequest(searchKeywords) {
              var url = "";
              if (searchKeywords.length > 0) {
                url = `http://localhost:8080/api/v1/syllabus/search-syllabus/` + selectedValue + `?key=` + searchKeywords + '&page=' + myVar;
              }
              $.ajax({
                url: url,
                method: "GET",
                success: function (data) {
                  console.log("DATA 2: " +data);
                  // Xử lý dữ liệu và cập nhật bảng
                  var dataTable = $('#data-table');
                  dataTable.empty();
                  // Lặp qua dữ liệu và thêm từng dòng vào bảng
                  $.each(data, function (index, item) {
                    var durationText = item.duration + " days";
                    var row = '<tr>' +
                            '<td>' + item.topicName + '</td>' +
                            '<td>' + item.topicCode + '</td>' +
                            '<td>' + item.createdDate + '</td>' +
                            '<td>' + item.createdBy + '</td>' +
                            '<td>' + durationText + '</td>' +
                            '<td>' + item.outputStandardArr + '</td>' +
                            '<td id="' + item.syllabusStatus + '">' + item.syllabusStatus + '</td>' +
                            // Thêm các ô khác ở đây
                            '</tr>';
                    dataTable.append(row);
                  });
                },
                error: function (error) {
                  console.log(error)
                }
              });
            }
        }//mode
      });

      //MODE 3
      // Lắng nghe sự kiện khi người dùng nhấn Enter trong ô tìm kiếm
      var inputCalendar = document.getElementById("search-input-calendar");
      inputCalendar.addEventListener("change", function(){
        var date = inputCalendar.value;
        var selectedDate = new Date(inputCalendar.value);
        var year = selectedDate.getFullYear();
        var month = (selectedDate.getMonth() + 1).toString().padStart(2, '0');
        var day = selectedDate.getDate().toString().padStart(2, '0');
        // Định dạng lại thành "yyyy/mm/dd"
        var formattedDate = year + '/' + month + '/' + day;

        if(formattedDate.trim() !== ""){
          mode = 3;
        }
        console.log(mode + " là mode hiện tại");
        if (mode === 3) {
          // Gọi hàm sendSearchRequest để gửi yêu cầu AJAX
          var combo1 = document.getElementById("rowPerPage");
          combo1.addEventListener("change", function () {
            selectedValue = combo1.value; // Lấy giá trị đã chọn
            if (selectedValue !== "" && !combo1.disabled) {
              console.log("Giá trị searchKey mode 3: " + formattedDate);
              sendDateRequest(formattedDate);
            } else {
              console.log("Chưa chọn tùy chọn");
            }
          });
          var page1 = document.getElementById("group-6");
          var page2 = document.getElementById("group-5");
          var page3 = document.getElementById("group-7");
          var page10 = document.getElementById("group-8");
          sendDateRequest(formattedDate);
          page1.addEventListener("click", function () {
            myVar = 1;
            sendDateRequest(formattedDate);
          });
          page2.addEventListener("click", function () {
            myVar = 2;
            sendDateRequest(formattedDate);
          });
          page3.addEventListener("click", function () {
            myVar = 3;
            sendDateRequest(formattedDate);
          });
          page10.addEventListener("click", function () {
            myVar = 10;
            sendDateRequest(formattedDate);
            dataTable.empty();
          });

          sendDateRequest(formattedDate);
          console.log("mode " + mode);

          // Hàm gửi yêu cầu AJAX với từ khóa tìm kiếm
          function sendDateRequest(formattedDate) {
            var url = `http://localhost:8080/api/v1/syllabus/search-syllabus-byCreatedDate/`+selectedValue+`?page=`+myVar+`&key=`+formattedDate;
            $.ajax({
              url: url,
              method: "GET",
              success: function (data) {
                console.log("DATA 3: " + data);
                // Xử lý dữ liệu và cập nhật bảng
                var dataTable = $('#data-table');
                dataTable.empty();
                // Lặp qua dữ liệu và thêm từng dòng vào bảng
                $.each(data, function (index, item) {
                  var durationText = item.duration + " days";
                  var row = '<tr>' +
                          '<td>' + item.topicName + '</td>' +
                          '<td>' + item.topicCode + '</td>' +
                          '<td>' + item.createdDate + '</td>' +
                          '<td>' + item.createdBy + '</td>' +
                          '<td>' + durationText + '</td>' +
                          '<td>' + item.outputStandardArr + '</td>' +
                          '<td id="' + item.syllabusStatus + '">' + item.syllabusStatus + '</td>' +
                          '</tr>';
                  dataTable.append(row);
                });
              },
              error: function (error) {
                console.log(error)
              }
            });
          }
        }//mode
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/common.js"></script>

<!--   Pop-up window-->
  <script>
    function getUserTableData(){
      $.ajax({
        url: "https://localhost:8080/api/v1/syllabus",
        method: "GET",
        success: function (response) {
          let tableData = [];
          response.forEach(element => {
            let elementArr = [];
            elementArr.push(element.name);
            elementArr.push(element.email);
            elementArr.push(element.dob);
            elementArr.push(element.gender);
            elementArr.push(element.userPermission);
            tableData.push(elementArr);
          });
          $("#user-information-table").DataTable().clear().rows.add(tableData).draw()
        },
        error: function(error){
          alert(error)
        }
      });
    };
    $("#filter-form").submit(function (event) {
      event.preventDefault();
      console.log($(this).serializeArray());
      var arr1 = $(this).serializeArray();
      var keyValues = {};
      $.each(arr1, function (index, item) {
        // Use the "name" as the key and "value" as the value
        var key = item.name;
        var value = item.value;
        // Check if the key already exists, if so, create an array to store values
        if (keyValues.hasOwnProperty(key)) {
          keyValues[key].push(value);
        } else {
          if (key.endsWith("List")) {
            keyValues[key] = [];
            keyValues[key].push(value);
          } else {
            if (value !== "") {
              keyValues[key] = value;
            }
          }
        }
      });
      console.log(JSON.stringify(keyValues));
    });
    $("#reset-filter-option-dialog-button").click(function (event) {
      $("#filter-class-location").val(null).trigger("change");
    });
    $("#cancel-filter-option-dialog-button").click(function (event) {
      $("#filter-class-location").val(null).trigger("change");
      $("#filter-option-dialog")[0].close();
    });
    $("#open-import-syllabus-dialog-button").click(() => {
      $("#dialog-backdrop").css("display", "block");
      $("#import-syllabus-dialog")[0].showModal();
    });
    $("#toggle-user-status").click(function () {
      $(this).prop("disabled", true);
      if ($("#user-status-label")[0].textContent === "Active") {
        $("#user-status-label")[0].textContent = "Inactive";
      } else {
        $("#user-status-label")[0].textContent = "Active";
      }
      setTimeout(() => {
        $(this).prop("disabled", false);
      }, 150);
    });
    $("#import-syllabus-form").submit(function (event) {
      event.preventDefault();
      $(".is-invalid").removeClass("is-invalid")
      $(".invalid-feedback").text("");
      let arr1 = $(this).serializeArray();
      let keyValues = {}
      let isValid = true;
      $.each(arr1, function (index, item) {
        let key = item.name;
        let value = item.value;
        if (key === "name" && value.trim().length === 0) {
          $("#invalid-user-name").text("Invalid username");
          $("#input-user-name").addClass("is-invalid");
          isValid=false;
        }
        if (key === "email" && !value.trim().match(/^[a-z0-9]+@\w+\.\w+$/)) {
          $("#invalid-email-address").text("Invalid email address");
          $("#input-user-email-address").addClass("is-invalid");
          isValid=false;
        }
        if (key === "phone" && !value.trim().match(/[0-9]{10}/)) {
          $("#invalid-phone-number").text("Invalid phone number");
          $("#input-user-phone").addClass("is-invalid");
          isValid=false;
        }
        if (key === "dob" && value.trim().length === 0) {
          $("#invalid-date-of-birth").text("Invalid date of birth");
          $("#pick-date-of-birth").addClass("is-invalid");
          isValid=false
        }
        if (value==="true") {
          value = true
        }
        if (value==="false"){
          value = false
        }
        keyValues[key] = value;
      });
      if (isValid){
        console.log(JSON.stringify(keyValues));
        $.ajax({
          url:"https://localhost:8080/api/v1/users",
          method:"POST",
          contentType:"application/json; charset=utf-8",
          data: JSON.stringify(keyValues),
          success: function(){
            alert("Success");
            $("#import-syllabus-dialog")[0].close();
            getUserTableData();
          },
          error:function(error){
            console.log(error);
          }
        });
      }
    });
    $("#input-user-name").click(function () {
      $(this).removeClass("is-invalid");
    });
    $("#input-user-email-address").click(function () {
      $(this).removeClass("is-invalid");
    });
    $("#input-user-phone").click(function () {
      $(this).removeClass("is-invalid");
    });
    $("#pick-date-of-birth").click(function () {
      $(this).removeClass("is-invalid");
    });
    $(".close-import-syllabus-dialog-button").click(function (event) {
      event.preventDefault();
      $(".is-invalid").removeClass("is-invalid")
      $(".invalid-feedback").text("");
      $("#import-syllabus-form")[0].reset();
      $("#import-syllabus-dialog")[0].close();
      hideBackdrop();
    });
    function hideBackdrop() {
      $("#dialog-backdrop").css("display", "none");
    }

  </script>
</div>
</body>
</html>