<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/Bootstrap%205/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <script src="/js/Bootstrap%205/bootstrap.bundle.min.js"></script>
  <script src="/js/JQuery/jquery-3.7.1.js"></script>
  <link href="/css/select2/select2.css" rel="stylesheet" />
  <script src="/js/select2/select2.min.js"></script>
  <link href="/css/DataTable/jquery.dataTables.css" rel="stylesheet">
  <script src="/js/DataTable/jquery.dataTables.js"></script>
  <link href="/css/user.css" rel="stylesheet" >
  <!--    <script src="/js/user.js"></script>-->
  <link rel="shortcut icon" type="image/png" href="img/FPT_logo.png"/>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link href="/css/syllabus/CreateSyllabusOtherScreen.css" rel="stylesheet"/>
  <!--  <link href="/css/syllabus/createSyllabusOutline.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

  <title>Document</title>
</head>
<body>

<header class="bg-main text-white px-5 py-1" >
  <div th:replace="~{common :: header}"></div>
</header>

<div class="d-flex flex-grow-1 flex-row">
  <div th:replace="~{common :: menu}"></div>




  <script>
    var topicCode = localStorage.getItem("topicCode");
    // localStorage.setItem("topicCode", topicCode);

    $(document).ready(function () {
      loadData();
      console.log(topicCode);
    });

    function loadData() {
      $.ajax({
        url: 'http://localhost:8080/api/v1/syllabus/showOtherScreenById/' + topicCode
        ,type: 'GET',
        success: function (rs) {
          console.log(rs);
          console.log(rs.trainingPrincipal)
          loadSyllabus(rs);
          $('#topicCode').html(rs.topicCode);
          $('#version').html(rs.version);
          // $('#default').html(rs.trainingPrincipal);
        }
      });
    };

    function loadSyllabus(rs){
      document.getElementById('syllabusNameInput').value = rs.topicName;
      document.getElementById('quiz').value = rs.quiz;
      document.getElementById('assignment').value = rs.assignment;
      document.getElementById('final').value = rs.finalTest;
      document.getElementById('final_theory').value = rs.finalTheory;
      document.getElementById('final_practice').value = rs.finalPractice;
      document.getElementById('gpa').value = rs.gpa;
      document.getElementById('training_principle').value = rs.trainingPrincipal;

      document.getElementById('assignment_pie').innerHTML = rs.assignment + "%";
      document.getElementById('quiz_pie').innerHTML = rs.quiz + "%";
      document.getElementById('final_pie').innerHTML = rs.finalTest + "%";
      document.getElementById('final_theory_pie').innerHTML = rs.finalTheory + "%";
      document.getElementById('final_practice_pie').innerHTML = rs.finalPractice + "%";
      document.getElementById('gpa_pie').innerHTML = rs.gpa + "%";
    };

  </script>


  <div class="frame-1193">
    <div id="toastBox"></div>
    <div class="program-header">
      <div class="frame-1191">
        <div class="syllabus">Syllabus</div>
        <!-- props: {"phase":{"type":"VARIANT","defaultValue":"'general'","variantOptions":["General","Outline","Done","Other"]}} -->
        <div class="progress-bar">
          <div class="label">
            <div class="bar">
              <div class="progress-bar2"></div>
            </div>
            <div class="padding">
              <div class="text">General</div>
            </div>
          </div>
          <div class="label">
            <div class="bar2">
              <div class="progress-bar2"></div>
            </div>
            <div class="padding">
              <div class="text">Outline</div>
            </div>
          </div>
          <div class="label">
            <div class="bar3">
              <div class="progress-bar2">
                <div class="ellipse-offset-to-get-to-the-middle">
                  <div class="ellipse"></div>
                </div>
              </div>
              <div class="spacer"></div>
            </div>
            <div class="padding">
              <div class="text">Other</div>
            </div>
          </div>
          <div class="label">
            <div class="bar4">
              <div class="progress-bar3">
                <div class="spacer"></div>
              </div>
            </div>
            <div class="padding">
              <div class="text">Done</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="basic-info">
      <div class="syllabus-name-code">
        <div class="req-text-box">
          <div class="text3">Syllabus Name*:</div>
          <input type="text" id="syllabusNameInput" name="" class="text-box" value="" disabled  style="font-size: 100%">
          <!--          <div class="text3" id="syllabusNameInput" style="display: flex"></div>-->
        </div>
        <div class="req-text-box">
          <div class="text3">Code:</div>
          <div class="text3" id="topicCode"></div>
        </div>
        <div class="req-text-box">
          <div class="text3">Version:</div>
          <div class="text3" id="version"></div>
        </div>
      </div>
    </div>    <div class="frame-1196">
    <div class="frame-1192">
      <div class="content">
        <div class="syllabus-tab">
          <a th:href="@{/viewSyllabusOutline}" style="text-decoration: none">
            <div class="tab-2">
              <div class="frame-51">
                <div class="tab-22">Outline</div>
              </div>
            </div>
          </a>
          <a th:href="@{/viewSyllabusGeneral}" style="text-decoration: none">
            <div class="tab-1">
              <div class="frame-51">
                <div class="general">General</div>
              </div>
            </div>
          </a>
          <a th:href="@{/viewSyllabusOther}" style="text-decoration: none">
            <div class="tab-3">
              <div class="frame-51">
                <div class="tab-22">Others</div>
              </div>
            </div>
          </a>
        </div>
        <div class="others">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-6">
                <div class="frame-113">
                  <div class="time-allocation">
                    <div class="time-allocation2">
                      <div class="time-allocation3">Time allocation</div>
                    </div>
                    <div class="content2">
                      <div class="doughnut">
                        <div class="_01"></div>
                        <div class="_02"></div>
                        <div class="_03"></div>
                        <div class="_04"></div>
                      </div>
                      <div class="info">
                        <div class="frame-108">
                          <div class="bullet">
                            <div class="rectangle-644"></div>
                          </div>
                          <div class="frame-5116">
                            <div class="assignment-lab">Assignment: </div><a class="text" id="assignment_pie"></a>
<!--                            <div class="text" id="assignment_pie"></div>-->
                          </div>
                        </div>
                        <div class="frame-113">
                          <div class="bullet">
                            <div class="rectangle-6442"></div>
                          </div>
                          <div class="frame-51162">
                            <div class="concept-lecture">Quiz</div>
                            <div class="text" id="quiz_pie"></div>
                          </div>
                        </div>
                        <div class="frame-114">
                          <div class="bullet">
                            <div class="rectangle-6443"></div>
                          </div>
                          <div class="frame-51162">
                            <div class="guide-review">Final</div>
                            <div class="text" id="final_pie"></div>
                          </div>
                        </div>
                        <div class="frame-115">
                          <div class="bullet">
                            <div class="rectangle-6444"></div>
                          </div>
                          <div class="frame-51162">
                            <div class="test-quiz">Final Theory</div>
                            <div class="text" id="final_theory_pie"></div>
                          </div>
                        </div>
                        <div class="frame-116">
                          <div class="bullet">
                            <div class="rectangle-6445"></div>
                          </div>
                          <div class="frame-51162">
                            <div class="exam">Final Practice</div>
                            <div class="text" id="final_practice_pie"></div>
                          </div>
                        </div>
                        <div class="frame-116">
                          <div class="bullet">
                            <div class="rectangle-6445"></div>
                          </div>
                          <div class="frame-51162">
                            <div class="exam">GPA</div>
                            <div class="text" id="gpa_pie"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-6">
                <div class="frame-113">
                  <form method="post" >

                  </form>
                  <div class="assessment-scheme">
                    <div class="percentage">
                      <div class="assessment-scheme2">Assessment scheme</div>
                    </div>
                    <div class="input-percent">
                      <div class="input-percent-1">
                        <div class="block" >
                          <label>Quiz*</label> <input disabled type="number" style="font-size: .8rem" name="quiz" id = "quiz">
                        </div>
                        <div class="block">
                          <label>Assignment*</label> <input disabled type="number" style="font-size: .8rem" name="assignment" id = "assignment">
                        </div>
                      </div>
                      <div class="input-percent-2">
                        <div class="block">
                          <label>Final*</label> <input disabled type="number" style="font-size: .8rem" name="final" id="final">
                        </div>

                        <div class="block">
                          <label>Final Theory*</label> <input disabled type="number" style="font-size: .8rem" name="final_theory" id="final_theory">
                        </div>

                        <div class="block">
                          <label>Final Practice*</label> <input disabled type="number" style="font-size: .8rem" name="final_practice" id = "final_practice">
                        </div>
                      </div>
                      <div class="input-percent-3">
                        <div class="block">
                          <label>GPA*</label> <input disabled type="number" style="font-size: .8rem" name="gpa" id="gpa">
                        </div>
                      </div>

                    </div>

                    <!--            <div class="frame">-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Quiz *</div>-->
                    <!--                <div class="text-box">-->
                    <!--&lt;!&ndash;                  <div class="default-text">15%</div>&ndash;&gt;-->
                    <!--                  <input class="input-box" type="number" name="quiz">-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Assignment *</div>-->
                    <!--                <div class="text-box">-->
                    <!--                  <div class="default-text"></div>-->
                    <!--                  <input class="input-box" type="number" name="assigment">-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">Final *</div>-->
                    <!--                <div class="text-box">-->
                    <!--&lt;!&ndash;                  <div class="_70">70%</div>&ndash;&gt;-->
                    <!--                  <input class="input-box" type="number" name="final">-->

                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="line-11"></div>-->
                    <!--            </div>-->
                    <!--            <div class="frame2">-->
                    <!--              <div class="req-text-box2">-->
                    <!--                <div class="text">Final Theory*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_40">40%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div class="req-text-box2">-->
                    <!--                <div class="text">Final Practice*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_60">60%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--            <div class="frame-1206">-->
                    <!--              <div class="line-11"></div>-->
                    <!--              <div class="passing-criteria">Passing criteria</div>-->
                    <!--              <div class="req-text-box">-->
                    <!--                <div class="text">GPA*</div>-->
                    <!--                <div class="text-box2">-->
                    <!--                  <div class="_70">70%</div>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                  </div>
                </div>
              </div>
            </div>


            <div class="container">
              <!--        <div class="frame-1204">-->
              <div class="row">
                <div class="others2" >
                  <div class="training-delivery-principle">
                    <div class="frame-100">
                      <div class="frame-90">
                        <div class="training-delivery-principle2">
                          Training delivery principle
                        </div>
                      </div>
                    </div>
                    <div class="frame-99">

                      <div class="row-tool">
                        <div class="col">
                          <div class="first box">
                            <input id="font-size" type="number" value="16" min="1" max="100" onchange="f1(this)">
                          </div>
                          <div class="second box">
                            <button type="button" onclick="f2(this)">
                              <i class="fa-solid fa-bold"></i>
                            </button>
                            <button type="button" onclick="f3(this)">
                              <i class="fa-solid fa-italic"></i>
                            </button>
                            <button type="button" onclick="f4(this)">
                              <i class="fa-solid fa-underline"></i>
                            </button>
                          </div>
                          <div class="third box">
                            <button type="button" onclick="f5(this)">
                              <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button type="button" onclick="f6(this)">
                              <i class="fa-solid fa-align-center"></i>
                            </button>
                            <button type="button" onclick="f7(this)">
                              <i class="fa-solid fa-align-right"></i>
                            </button>
                          </div>
                          <div class="fourth box">
                            <button type="button" onclick="f8(this)">aA</button>
                            <button type="button" onclick="f9()">
                              <i class="fa-solid fa-text-slash"></i>
                            </button>
                            <input type="color" onchange="f10(this)">
                          </div>
                        </div>
                      </div>

                      <div class="frame-1205">
                        <div class="row-text-left">
                          <div class="span3">
                            <div class="left-headers">
                              <div class="frame-1204">
                                <div class="training">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18567)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18567">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="training2">Training</div>
                                  </div>
                                  <div
                                          class="trainee-who-actively-complete-online-learning-according-to-mooc-links-provided-at-the-end-of-the-day-students-complete-daily-quiz-for-30-minutes-trainer-mentor-supports-answering-questions-guiding-exercises-1-5-2-0-h-day-trainer-conduct-the-workshops-trainees-complete-assignments-and-labs-trainees-have-1-final-test-in-4-hours-1-hour-theory-3-hours-of-practice"
                                  >
                                    <!--                    Trainee who actively complete online learning according to-->
                                    <!--                    MOOC links provided<br />At the end of the day, students-->
                                    <!--                    complete Daily Quiz for 30 minutes<br />Trainer/Mentor-->
                                    <!--                    supports answering questions, guiding exercises-->
                                    <!--                    1.5-2.0h/day<br />Trainer conduct the workshops<br />Trainees-->
                                    <!--                    complete Assignments and Labs<br />Trainees have 1 final test-->
                                    <!--                    in 4 hours (1 hour theory + 3 hours of practice)-->

                                  </div>
                                </div>
                                <div class="re-test">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user2"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18572)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18572">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="re-test2">Re-test</div>
                                  </div>
                                  <div
                                          class="only-allow-each-student-to-retake-the-test-up-to-2-times-re-exam-the-same-structure-as-the-final-test"
                                  >
                                    <!--                    Only allow each student to retake the test up to 2 times<br />Re-exam-->
                                    <!--                    the same structure as the Final Tests-->
                                  </div>
                                </div>
                                <div class="marking">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user3"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18577)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18577">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="marking2">Marking</div>
                                  </div>
                                  <div
                                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score"
                                  >
                                    <!--                  <span-->
                                    <!--                  ><span-->
                                    <!--                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score-span"-->
                                    <!--                  >Mentor review students on 2 Assignments<br />Mentor marks-->
                                    <!--                      the 3 Quizzes and Final Exam Theory<br />Trainer marks the-->
                                    <!--                      Final Exam Practice<br />If the trainees have to retake-->
                                    <!--                      test, the score will be calculated:<br /></span-->
                                    <!--                  ><span-->
                                    <!--                          class="mentor-review-students-on-2-assignments-mentor-marks-the-3-quizzes-and-final-exam-theory-trainer-marks-the-final-exam-practice-if-the-trainees-have-to-retake-test-the-score-will-be-calculated-the-score-6-the-score-will-be-6-the-scroe-6-the-score-will-be-that-score-span2"-->
                                    <!--                  >The score &gt;=6, the score will be 6<br />The scroe-->
                                    <!--                      &lt;6, the score will be that score</span-->
                                    <!--                  ></span-->
                                    <!--                  >-->
                                  </div>
                                </div>
                                <div class="waiver">
                                  <div class="frame3">
                                    <svg
                                            class="verified-user4"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18582)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18582">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="waiver-criteria">Waiver Criteria</div>
                                  </div>
                                  <div class="students-pass-the-quick-test-trainer-audit-rank-b">
                                    <!--                    Students pass the quick test-->
                                    <!--                    <br />Trainer Audit: rank B-->
                                  </div>
                                </div>
                                <div class="frame-107">
                                  <div class="frame-902">
                                    <svg
                                            class="verified-user5"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <g clip-path="url(#clip0_252_18587)">
                                        <path
                                                d="M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1ZM19 11C19 15.52 16.02 19.69 12 20.93C7.98 19.69 5 15.52 5 11V6.3L12 3.19L19 6.3V11ZM7.41 11.59L6 13L10 17L18 9L16.59 7.58L10 14.17L7.41 11.59Z"
                                                fill="#2D3748"
                                        />
                                      </g>
                                      <defs>
                                        <clipPath id="clip0_252_18587">
                                          <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                      </defs>
                                    </svg>

                                    <div class="others2">Others</div>
                                  </div>
                                  <div
                                          class="trainers-can-allow-students-to-complete-homework-and-submit-the-next-day"
                                  >
                                    <!--                    Trainers can allow students to complete homework and submit-->
                                    <!--                    the next day-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row-text-right">
                          <div class="span9">
                            <div class="right-headers">
                              <!--                                <h3>Advanced Text Editor</h3>-->
                              <!--                                <form action="" method="post">-->
                              <!--                                  <textarea name="textarea" id="default"  ></textarea>-->
                              <!--                                  <input type="submit" value="submit">-->
                              <!--                                </form>-->
                              <textarea disabled id="training_principle" placeholder="Your text here " cols="40" rows="10"></textarea>
                            </div>
                          </div>
                        </div>
                        <!--                  <div class="rectangle-2487"></div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="saving-button">
              <a th:href="@{/viewSyllabusOutline}" style="text-decoration: none">
                <div class="button">
                  <div class="filter">Previous</div>
                </div>
              </a>
              <div class="frame-5119">
                <div class="button2">
                  <div class="filter2">Cancel</div>
                </div>
                <div class="button3">
                  <div class="filter">Save as draft</div>
                </div>
                <a th:href="@{/viewSyllabus}" style="text-decoration: none">
                  <div class="button">
                    <div class="filter" id="SaveSyllabus" >Back To Syllabus</div>
                  </div>
                </a>
              </div>
            </div>

            <script>





            </script>
          </div>







          <div th:replace="~{common :: footer}"></div>

          <script src="/js/common.js"></SCRIPT>
          <script src="/js/createScreenOtherScreen.js"></script>
          <script src="/js/tinymce/js/tinymce/tinymce.min.js"></script>
          <script src="/js/tinymce/script.js"></script>


  </body>

</html>